# Preliminary Analysis

### Data Cleaning Code
Code for cleaning and processing your data. Include a data dictionary for your transformed dataset.

- Data Dictionary for Air Quality
    - **indicator id:** id for each name
    - **name:** classify the sample in the air
    - **measure:** how the indicator is measured
    - **measure info:** information about the measure
    - **geo type name:** geography type, UHF stands for United Hospital Fund neighborhoods
    - **geo place name:** neighborhood name
    - **time period:** time frame
    - **start_date:** date started
    <br><br>
- Data Dictionary for Traffic Volume
    - **requestId:** unique id generated for each counts request
    - **boro:** lists which of the five diviions of New York City the location is within
    - **vol:** total sum of count collected within 15 minute increments
    - **segmentId:** The ID that idenifies each segment of a street
    - **wktgeom:** Geometry point of the location
    - **street:** street name of where traffic happened
    - **fromst:** start street of traffic
    - **tost:** end street where traffic volume was located
    - **direction:** text-based direction of traffic where the count took place
    - **date_time:** date at which it took place
    <br><br>
- Data Dictionary for 2020 mobility Dataset
    - **sub_region_2** which county it is
    - **date** date during recording
    - **retail_and_recreation_percent_change_from_baseline** mobility trends for places like restaurants, cafes, shopping centers, theme parks, museums, libraries, and movie theaters.
    - **grocery_and_pharmacy_percent_change_from_baseline** mobility trends for places like grocery markets, food warehouses, farmers markets, specialty food shops, drug stores, and pharmacies
    - **parks_percent_change_from_baseline** mobility trends for places like national parks, public beaches, marinas, dog parks, plazas, and public gardens
    - **transit_stations_percent_change_from_baseline** mobility trends for places like public transport hubs such as subway, bus, and train stations
    - **workplaces_percent_change_from_baseline** mobility trend for places of work
    - **residential_percent_change_from_baseline** mobility trends for places of residence
    
### Exploratory Analysis
Describe what work you have done so far and include the code. This may include descriptive statistics, graphs and charts, and preliminary models.

- We removed some columns that were irrelevant to what we want to predict as well as combine some columns that would fit together, such as the date and time.


### Challenges
Describe any challenges you've encountered so far. Let me know if there's anything you need help with!

- There were some challenges in figuring out what sort of data was necessary to include for our problem as it was targeted in New York City. 
- Figuring out the transformations to use on each dataset was also a challenge since there were many columns for each dataset and we had to find the ones that weren't relevant to our problem.
- There are some issues for the columns right now where there are some, such as segmentId in the Traffic Volume dataset where we are currently unsure if it's useful to keep or remove.
- Dealing with large datasets efficiently

### Future Work
Describe what work you are planning to complete for the final analysis.

- Future work includes using the cleaned data to use as inputs for models suited for classification such as Logisitc Regression and Linear Regression. 
- Make predictions using the models trained to obtain the accuracy scores to answer our questions
- Find the best model for accuracy as well as graph/chart the data to further understand it for future predictions.

### Contributions
Describe the contributions that each group member made.
- **Daniel Aguilar-Rodriguez**
    - Researched and acquired datasets
    - Helped present ideas during brainstorming session
    - Created jupyter notebook and helped clean datasets
    - Helped transform datasets and removed columns irrelevant to our work
    <br><br>
- **Jia Cong Lin**
    - Helped present ideas during brainstorming session
    - Helped define necessary columns for the mobility dataset
    - Assisted in determining columns to clean and define 
    <br><br>
- **Anvinh Truong**
    - Helped clean and define some columns for the datasets and dictionary
    - Helped present ideas during brainstorming session
    - Assisted in thinking of procedure to clean data columns

In [1]:
import pandas as pd
import numpy as np
import os
import requests
import datetime

In [2]:
def download_data(csv_name):
    url_dict = {'air_quality': 'https://data.cityofnewyork.us/api/views/c3uy-2p5r/rows.csv', 
                'mobility_global': 'https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv', 
                'traffic_volume': 'https://data.cityofnewyork.us/api/views/7ym2-wayt/rows.csv'}
    
    response = requests.get(url_dict[csv_name])
    path = f'datasets/{csv_name}.csv'
    with open(path, 'wb') as f:
        f.write(response.content)

In [3]:
def csv_exists(csv_name):
    path = f'datasets/{csv_name}.csv'
    file_exists = os.path.exists(path)
    return file_exists

In [4]:
def create_df(csv_name):
    if not csv_exists(csv_name):
        download_data(csv_name)
    path = f'datasets/{csv_name}.csv'
    df = pd.read_csv(path)
    return df

In [5]:
def mkdir_if_not_exist():
    directory = 'datasets'
    if not os.path.exists(f'{directory}/'):
        os.mkdir(directory)

In [6]:
def create_all_df(csv_names):
    mkdir_if_not_exist()
    df_list = []
    
    for csv_name in csv_names:
        print(f'Creating {csv_name} df')
        df = create_df(csv_name)
        df_list.append(df)
        
    return df_list

In [7]:
csv_names = ['air_quality', 'traffic_volume']

air_quality, traffic_volume = create_all_df(csv_names)

Creating air_quality df
Creating mobility_global df

C:\Users\danie\AppData\Local\Temp\ipykernel_17712\89086087.py:5: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

Creating traffic_volume df

## Air Quality Dataset Cleaning

In [8]:
print(air_quality.isnull().sum() / len(air_quality))

Unique ID         0.0
Indicator ID      0.0
Name              0.0
Measure           0.0
Measure Info      0.0
Geo Type Name     0.0
Geo Join ID       0.0
Geo Place Name    0.0
Time Period       0.0
Start_Date        0.0
Data Value        0.0
Message           1.0
dtype: float64

In [9]:
air_quality = air_quality.drop(['Message'], axis=1)
print(air_quality.isnull().sum() / len(air_quality))

Unique ID         0.0
Indicator ID      0.0
Name              0.0
Measure           0.0
Measure Info      0.0
Geo Type Name     0.0
Geo Join ID       0.0
Geo Place Name    0.0
Time Period       0.0
Start_Date        0.0
Data Value        0.0
dtype: float64

In [10]:
print(air_quality.nunique() / len(air_quality))

Unique ID         1.000000
Indicator ID      0.001365
Name              0.001179
Measure           0.000496
Measure Info      0.000496
Geo Type Name     0.000310
Geo Join ID       0.004466
Geo Place Name    0.007071
Time Period       0.002791
Start_Date        0.002233
Data Value        0.253443
dtype: float64

In [11]:
air_quality = air_quality.drop(['Unique ID'], axis=1)
print(air_quality.shape)
print(air_quality.nunique() / len(air_quality))

(16122, 10)
Indicator ID      0.001365
Name              0.001179
Measure           0.000496
Measure Info      0.000496
Geo Type Name     0.000310
Geo Join ID       0.004466
Geo Place Name    0.007071
Time Period       0.002791
Start_Date        0.002233
Data Value        0.253443
dtype: float64

In [12]:
air_quality = air_quality.drop(['Geo Join ID'], axis=1)
print(air_quality.shape)
print(air_quality.nunique() / len(air_quality))

(16122, 9)
Indicator ID      0.001365
Name              0.001179
Measure           0.000496
Measure Info      0.000496
Geo Type Name     0.000310
Geo Place Name    0.007071
Time Period       0.002791
Start_Date        0.002233
Data Value        0.253443
dtype: float64

In [13]:
air_quality.dtypes

Indicator ID        int64
Name               object
Measure            object
Measure Info       object
Geo Type Name      object
Geo Place Name     object
Time Period        object
Start_Date         object
Data Value        float64
dtype: object

In [14]:
air_quality.nunique()

Indicator ID        22
Name                19
Measure              8
Measure Info         8
Geo Type Name        5
Geo Place Name     114
Time Period         45
Start_Date          36
Data Value        4086
dtype: int64

In [15]:
air_quality['Time Period'].unique()

array(['Summer 2013', 'Summer 2014', 'Winter 2008-09', 'Summer 2009',
       'Summer 2010', 'Summer 2011', 'Summer 2012', 'Winter 2009-10',
       '2005-2007', '2013', '2005', '2009-2011', 'Winter 2010-11',
       'Winter 2011-12', 'Winter 2012-13', 'Annual Average 2009',
       'Annual Average 2010', 'Annual Average 2011',
       'Annual Average 2012', 'Annual Average 2013', '2015',
       'Winter 2013-14', 'Annual Average 2014', '2011', 'Winter 2014-15',
       '2016', 'Annual Average 2015', 'Summer 2015', 'Winter 2015-16',
       'Summer 2016', 'Annual Average 2016', 'Summer 2017', '2012-2014',
       'Summer 2018', 'Annual Average 2017', 'Summer 2019',
       'Winter 2016-17', 'Annual Average 2018', 'Winter 2017-18',
       '2015-2017', 'Summer 2020', 'Annual Average 2019',
       'Winter 2018-19', 'Annual Average 2020', 'Winter 2019-20'],
      dtype=object)

In [16]:
air_quality['Time Period'].value_counts() / len(air_quality)

2012-2014              0.029773
2005-2007              0.029773
2009-2011              0.029773
2015-2017              0.029773
Summer 2018            0.026237
Summer 2017            0.026237
Summer 2016            0.026237
Winter 2015-16         0.026237
Summer 2015            0.026237
Summer 2019            0.026237
Winter 2014-15         0.026237
Summer 2014            0.026237
Winter 2013-14         0.026237
Summer 2020            0.026237
Summer 2013            0.026237
Winter 2009-10         0.026237
Summer 2011            0.026237
Winter 2011-12         0.026237
Winter 2010-11         0.026237
Winter 2008-09         0.026237
Summer 2009            0.026237
Summer 2010            0.026237
Winter 2012-13         0.026237
Summer 2012            0.026237
2005                   0.025245
2016                   0.019911
Annual Average 2017    0.017492
Winter 2018-19         0.017492
Winter 2016-17         0.017492
Annual Average 2020    0.017492
Annual Average 2018    0.017492
Winter 2017-18         0.017492
Annual Average 2019    0.017492
Annual Average 2014    0.017492
Annual Average 2016    0.017492
Annual Average 2015    0.017492
Annual Average 2013    0.017492
Annual Average 2012    0.017492
Annual Average 2011    0.017492
Annual Average 2010    0.017492
Annual Average 2009    0.017492
Winter 2019-20         0.017492
2011                   0.013274
2015                   0.008932
2013                   0.008932
Name: Time Period, dtype: float64

In [17]:
air_quality['Start_Date'].unique()

array(['06/01/2013', '06/01/2014', '12/01/2008', '06/01/2009',
       '06/01/2010', '06/01/2011', '06/01/2012', '12/01/2009',
       '01/01/2005', '01/01/2013', '01/01/2009', '12/01/2010',
       '12/01/2011', '12/01/2012', '01/01/2015', '12/01/2013',
       '01/01/2011', '12/01/2014', '01/01/2016', '06/01/2015',
       '12/01/2015', '05/31/2016', '12/31/2015', '06/01/2017',
       '01/02/2012', '06/01/2018', '01/01/2017', '06/01/2019',
       '12/01/2016', '01/01/2018', '12/01/2017', '06/01/2020',
       '01/01/2019', '12/01/2018', '01/01/2020', '12/01/2019'],
      dtype=object)

In [18]:
air_quality['Start_Date'] = pd.to_datetime(air_quality['Start_Date'], infer_datetime_format=True)

In [19]:
air_quality['Start_Date'].min()

Timestamp('2005-01-01 00:00:00')

In [20]:
air_quality['Start_Date'].value_counts().sort_index() / len(air_quality)

2005-01-01    0.055018
2008-12-01    0.043729
2009-01-01    0.029773
2009-06-01    0.026237
2009-12-01    0.043729
2010-06-01    0.026237
2010-12-01    0.043729
2011-01-01    0.013274
2011-06-01    0.026237
2011-12-01    0.043729
2012-01-02    0.029773
2012-06-01    0.026237
2012-12-01    0.043729
2013-01-01    0.008932
2013-06-01    0.026237
2013-12-01    0.043729
2014-06-01    0.026237
2014-12-01    0.026237
2015-01-01    0.056197
2015-06-01    0.026237
2015-12-01    0.026237
2015-12-31    0.017492
2016-01-01    0.019911
2016-05-31    0.026237
2016-12-01    0.017492
2017-01-01    0.017492
2017-06-01    0.026237
2017-12-01    0.017492
2018-01-01    0.017492
2018-06-01    0.026237
2018-12-01    0.017492
2019-01-01    0.017492
2019-06-01    0.026237
2019-12-01    0.017492
2020-01-01    0.017492
2020-06-01    0.026237
Name: Start_Date, dtype: float64

In [21]:
air_quality.groupby('Start_Date')['Time Period'].value_counts()

Start_Date  Time Period
2005-01-01  2005-2007              480
            2005                   407
2008-12-01  Winter 2008-09         423
            Annual Average 2009    282
2009-01-01  2009-2011              480
2009-06-01  Summer 2009            423
2009-12-01  Winter 2009-10         423
            Annual Average 2010    282
2010-06-01  Summer 2010            423
2010-12-01  Winter 2010-11         423
            Annual Average 2011    282
2011-01-01  2011                   214
2011-06-01  Summer 2011            423
2011-12-01  Winter 2011-12         423
            Annual Average 2012    282
2012-01-02  2012-2014              480
2012-06-01  Summer 2012            423
2012-12-01  Winter 2012-13         423
            Annual Average 2013    282
2013-01-01  2013                   144
2013-06-01  Summer 2013            423
2013-12-01  Winter 2013-14         423
            Annual Average 2014    282
2014-06-01  Summer 2014            423
2014-12-01  Winter 2014-15         423
2015-01-01  2015-2017              480
            Annual Average 2015    282
            2015                   144
2015-06-01  Summer 2015            423
2015-12-01  Winter 2015-16         423
2015-12-31  Annual Average 2016    282
2016-01-01  2016                   321
2016-05-31  Summer 2016            423
2016-12-01  Winter 2016-17         282
2017-01-01  Annual Average 2017    282
2017-06-01  Summer 2017            423
2017-12-01  Winter 2017-18         282
2018-01-01  Annual Average 2018    282
2018-06-01  Summer 2018            423
2018-12-01  Winter 2018-19         282
2019-01-01  Annual Average 2019    282
2019-06-01  Summer 2019            423
2019-12-01  Winter 2019-20         282
2020-01-01  Annual Average 2020    282
2020-06-01  Summer 2020            423
Name: Time Period, dtype: int64

In [22]:
list(air_quality[air_quality['Time Period'].str.contains('Winter')]['Time Period'].unique())

['Winter 2008-09',
 'Winter 2009-10',
 'Winter 2010-11',
 'Winter 2011-12',
 'Winter 2012-13',
 'Winter 2013-14',
 'Winter 2014-15',
 'Winter 2015-16',
 'Winter 2016-17',
 'Winter 2017-18',
 'Winter 2018-19',
 'Winter 2019-20']

In [87]:
air_quality[air_quality['Time Period'].str.contains('Winter|Summer')].groupby('Time Period')['Start_Date'].value_counts()

Time Period     Start_Date
Summer 2009     2009-06-01    423
Summer 2010     2010-06-01    423
Summer 2011     2011-06-01    423
Summer 2012     2012-06-01    423
Summer 2013     2013-06-01    423
Summer 2014     2014-06-01    423
Summer 2015     2015-06-01    423
Summer 2016     2016-05-31    423
Summer 2017     2017-06-01    423
Summer 2018     2018-06-01    423
Summer 2019     2019-06-01    423
Summer 2020     2020-06-01    423
Winter 2008-09  2008-12-01    423
Winter 2009-10  2009-12-01    423
Winter 2010-11  2010-12-01    423
Winter 2011-12  2011-12-01    423
Winter 2012-13  2012-12-01    423
Winter 2013-14  2013-12-01    423
Winter 2014-15  2014-12-01    423
Winter 2015-16  2015-12-01    423
Winter 2016-17  2016-12-01    282
Winter 2017-18  2017-12-01    282
Winter 2018-19  2018-12-01    282
Winter 2019-20  2019-12-01    282
Name: Start_Date, dtype: int64

In [26]:
air_quality[air_quality['Time Period'].str.contains('Winter')]

,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
4,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Morris Park and Bronxdale (CD11),Winter 2008-09,2008-12-01,5.89
5,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Williamsbridge and Baychester (CD12),Winter 2008-09,2008-12-01,5.75
8,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Greenpoint and Williamsburg (CD1),Winter 2008-09,2008-12-01,4.33
9,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Fort Greene and Brooklyn Heights (CD2),Winter 2008-09,2008-12-01,4.41
10,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Bedford Stuyvesant (CD3),Winter 2008-09,2008-12-01,4.73
...,...,...,...,...,...,...,...,...,...
15969,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Queens Village (CD13),Winter 2019-20,2019-12-01,7.15
15972,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Rockaway and Broad Channel (CD14),Winter 2019-20,2019-12-01,6.12
15975,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,St. George and Stapleton (CD1),Winter 2019-20,2019-12-01,7.43
15978,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,South Beach and Willowbrook (CD2),Winter 2019-20,2019-12-01,6.89
15981,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Tottenville and Great Kills (CD3),Winter 2019-20,2019-12-01,5.95

In [32]:
air_quality.sample(10)

,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
6097,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF42,Pelham - Throgs Neck,Annual Average 2010,2009-12-01,9.680000
11737,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF42,High Bridge - Morrisania,Winter 2016-17,2016-12-01,8.590000
13716,639,PM2.5-Attributable Deaths,Estimated Annual Rate - Adults 30 Yrs and Older,"per 100,000 adults",UHF42,Jamaica,2015-2017,2015-01-01,31.700000
14240,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF42,Upper East Side,Winter 2018-19,2018-12-01,26.490000
162,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,UHF42,Northeast Bronx,2013,2013-01-01,33.800000
12498,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF34,Northern SI,Annual Average 2017,2017-01-01,15.450000
4477,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF34,Southeast Queens,Summer 2009,2009-06-01,9.650000
8511,646,Air Toxics Concentrations- Average Benzene Con...,Annual Average Concentration,µg/m3,CD,East New York and Starrett City (CD5),2011,2011-01-01,1.349458
11556,650,PM2.5-Attributable Respiratory Hospitalization...,Estimated Annual Rate,"per 100,000 adults",UHF42,Willowbrook,2012-2014,2012-01-02,13.536328
2890,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Clinton and Chelsea (CD4),Winter 2011-12,2011-12-01,11.470000

In [33]:
air_quality[air_quality['Geo Type Name'].str.contains('Borough')]['Time Period'].unique()

array(['Summer 2013', 'Summer 2014', 'Summer 2009', 'Summer 2010',
       'Summer 2011', 'Summer 2012', '2013', '2005', '2005-2007',
       '2009-2011', 'Winter 2008-09', 'Winter 2009-10', 'Winter 2010-11',
       'Winter 2011-12', 'Winter 2012-13', 'Annual Average 2009',
       'Annual Average 2010', 'Annual Average 2011',
       'Annual Average 2012', 'Annual Average 2013', '2015',
       'Winter 2013-14', 'Annual Average 2014', '2011', '2016',
       'Annual Average 2015', 'Summer 2015', 'Winter 2014-15',
       'Winter 2015-16', 'Summer 2016', 'Annual Average 2016',
       '2012-2014', 'Summer 2017', 'Annual Average 2017',
       'Winter 2016-17', 'Annual Average 2018', 'Summer 2018',
       'Winter 2017-18', '2015-2017', 'Annual Average 2019',
       'Summer 2019', 'Winter 2018-19', 'Annual Average 2020',
       'Winter 2019-20', 'Summer 2020'], dtype=object)

In [34]:
air_quality[air_quality['Geo Type Name'].str.contains('Borough')].groupby('Name')['Geo Place Name'].value_counts()

Name                                                       Geo Place Name
Air Toxics Concentrations- Average Benzene Concentrations  Bronx             2
                                                           Brooklyn          2
                                                           Manhattan         2
                                                           Queens            2
                                                           Staten Island     2
                                                                            ..
Traffic Density- Annual Vehicle Miles Traveled for Trucks  Bronx             1
                                                           Brooklyn          1
                                                           Manhattan         1
                                                           Queens            1
                                                           Staten Island     1
Name: Geo Place Name, Length: 95, dtype: int64

In [35]:
list(air_quality['Name'].unique())

['Ozone (O3)',
 'Sulfur Dioxide (SO2)',
 'PM2.5-Attributable Deaths',
 'Boiler Emissions- Total SO2 Emissions',
 'Boiler Emissions- Total PM2.5 Emissions',
 'Boiler Emissions- Total NOx Emissions',
 'Air Toxics Concentrations- Average Benzene Concentrations',
 'Air Toxics Concentrations- Average Formaldehyde Concentrations',
 'PM2.5-Attributable Asthma Emergency Department Visits',
 'PM2.5-Attributable Respiratory Hospitalizations (Adults 20 Yrs and Older)',
 'PM2.5-Attributable Cardiovascular Hospitalizations (Adults 40 Yrs and Older)',
 'Traffic Density- Annual Vehicle Miles Traveled',
 'O3-Attributable Cardiac and Respiratory Deaths',
 'O3-Attributable Asthma Emergency Department Visits',
 'O3-Attributable Asthma Hospitalizations',
 'Traffic Density- Annual Vehicle Miles Traveled for Cars',
 'Traffic Density- Annual Vehicle Miles Traveled for Trucks',
 'Nitrogen Dioxide (NO2)',
 'Fine Particulate Matter (PM2.5)']

In [36]:
air_quality.groupby(['Name', 'Start_Date'])['Time Period'].value_counts()

Name                                                            Start_Date  Time Period
Air Toxics Concentrations- Average Benzene Concentrations       2005-01-01  2005            48
                                                                2011-01-01  2011           107
Air Toxics Concentrations- Average Formaldehyde Concentrations  2005-01-01  2005            48
                                                                2011-01-01  2011           107
Boiler Emissions- Total NOx Emissions                           2013-01-01  2013            48
                                                                                          ...
Traffic Density- Annual Vehicle Miles Traveled                  2016-01-01  2016           107
Traffic Density- Annual Vehicle Miles Traveled for Cars         2005-01-01  2005           107
                                                                2016-01-01  2016           107
Traffic Density- Annual Vehicle Miles Traveled for Trucks       2005-01-01  2005           102
                                                                2016-01-01  2016           107
Name: Time Period, Length: 136, dtype: int64

In [37]:
air_quality_boros = air_quality[air_quality['Geo Type Name'].str.contains('Borough')]
air_quality_boros = air_quality_boros.drop(['Geo Type Name'], axis=1)

In [38]:
air_quality_boros.sample(10)

,Indicator ID,Name,Measure,Measure Info,Geo Place Name,Time Period,Start_Date,Data Value
7962,386,Ozone (O3),Mean,ppb,Bronx,Summer 2011,2011-06-01,32.91
11266,659,O3-Attributable Asthma Emergency Department Vi...,Estimated Annual Rate- 18 Yrs and Older,"per 100,000 adults",Brooklyn,2012-2014,2012-01-02,58.80
9389,375,Nitrogen Dioxide (NO2),Mean,ppb,Manhattan,Annual Average 2015,2015-01-01,25.18
6392,375,Nitrogen Dioxide (NO2),Mean,ppb,Brooklyn,Annual Average 2013,2012-12-01,19.92
360,648,PM2.5-Attributable Asthma Emergency Department...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Staten Island,2005-2007,2005-01-01,55.30
993,639,PM2.5-Attributable Deaths,Estimated Annual Rate - Adults 30 Yrs and Older,"per 100,000 adults",Staten Island,2009-2011,2009-01-01,51.70
408,650,PM2.5-Attributable Respiratory Hospitalization...,Estimated Annual Rate,"per 100,000 adults",Queens,2005-2007,2005-01-01,15.70
12694,375,Nitrogen Dioxide (NO2),Mean,ppb,Manhattan,Summer 2018,2018-06-01,19.67
845,648,PM2.5-Attributable Asthma Emergency Department...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Manhattan,2009-2011,2009-01-01,144.30
12273,375,Nitrogen Dioxide (NO2),Mean,ppb,Queens,Annual Average 2017,2017-01-01,17.85

In [39]:
for time_period in air_quality_boros['Time Period'].sort_values().unique():
    print(time_period, 'length:', len(time_period))

2005 length: 4
2005-2007 length: 9
2009-2011 length: 9
2011 length: 4
2012-2014 length: 9
2013 length: 4
2015 length: 4
2015-2017 length: 9
2016 length: 4
Annual Average 2009 length: 19
Annual Average 2010 length: 19
Annual Average 2011 length: 19
Annual Average 2012 length: 19
Annual Average 2013 length: 19
Annual Average 2014 length: 19
Annual Average 2015 length: 19
Annual Average 2016 length: 19
Annual Average 2017 length: 19
Annual Average 2018 length: 19
Annual Average 2019 length: 19
Annual Average 2020 length: 19
Summer 2009 length: 11
Summer 2010 length: 11
Summer 2011 length: 11
Summer 2012 length: 11
Summer 2013 length: 11
Summer 2014 length: 11
Summer 2015 length: 11
Summer 2016 length: 11
Summer 2017 length: 11
Summer 2018 length: 11
Summer 2019 length: 11
Summer 2020 length: 11
Winter 2008-09 length: 14
Winter 2009-10 length: 14
Winter 2010-11 length: 14
Winter 2011-12 length: 14
Winter 2012-13 length: 14
Winter 2013-14 length: 14
Winter 2014-15 length: 14
Winter 2015-16 length: 14
Winter 2016-17 length: 14
Winter 2017-18 length: 14
Winter 2018-19 length: 14
Winter 2019-20 length: 14

In [40]:
air_quality.groupby('Time Period')['Start_Date'].value_counts()

Time Period          Start_Date
2005                 2005-01-01    407
2005-2007            2005-01-01    480
2009-2011            2009-01-01    480
2011                 2011-01-01    214
2012-2014            2012-01-02    480
2013                 2013-01-01    144
2015                 2015-01-01    144
2015-2017            2015-01-01    480
2016                 2016-01-01    321
Annual Average 2009  2008-12-01    282
Annual Average 2010  2009-12-01    282
Annual Average 2011  2010-12-01    282
Annual Average 2012  2011-12-01    282
Annual Average 2013  2012-12-01    282
Annual Average 2014  2013-12-01    282
Annual Average 2015  2015-01-01    282
Annual Average 2016  2015-12-31    282
Annual Average 2017  2017-01-01    282
Annual Average 2018  2018-01-01    282
Annual Average 2019  2019-01-01    282
Annual Average 2020  2020-01-01    282
Summer 2009          2009-06-01    423
Summer 2010          2010-06-01    423
Summer 2011          2011-06-01    423
Summer 2012          2012-06-01    423
Summer 2013          2013-06-01    423
Summer 2014          2014-06-01    423
Summer 2015          2015-06-01    423
Summer 2016          2016-05-31    423
Summer 2017          2017-06-01    423
Summer 2018          2018-06-01    423
Summer 2019          2019-06-01    423
Summer 2020          2020-06-01    423
Winter 2008-09       2008-12-01    423
Winter 2009-10       2009-12-01    423
Winter 2010-11       2010-12-01    423
Winter 2011-12       2011-12-01    423
Winter 2012-13       2012-12-01    423
Winter 2013-14       2013-12-01    423
Winter 2014-15       2014-12-01    423
Winter 2015-16       2015-12-01    423
Winter 2016-17       2016-12-01    282
Winter 2017-18       2017-12-01    282
Winter 2018-19       2018-12-01    282
Winter 2019-20       2019-12-01    282
Name: Start_Date, dtype: int64

In [41]:
def create_end_dates(air_quality_boros_dict):
    end_dates = []
    for row in air_quality_boros_dict:
        time_period_str_len = len(row['Time Period'])
        year = row['Start_Date'].year
        if time_period_str_len == 4:
            date = datetime.date(year, 12, 31)
        elif time_period_str_len == 9:
            date = datetime.date(year + 2, 12, 31)
        elif time_period_str_len == 11:
            date = datetime.date(year, 8, 31)
        elif time_period_str_len == 14:
            date = datetime.date(year + 1, 2, 28)
        elif time_period_str_len == 19:
            year = int(row['Time Period'][-4:])
            date = datetime.date(year, 12, 31)
        end_dates.append(date)
    return end_dates

In [42]:
air_quality_boros['end_date'] = create_end_dates(air_quality_boros.to_dict('records'))

In [43]:
air_quality_boros.sample(10)

,Indicator ID,Name,Measure,Measure Info,Geo Place Name,Time Period,Start_Date,Data Value,end_date
6359,375,Nitrogen Dioxide (NO2),Mean,ppb,Queens,Summer 2011,2011-06-01,17.04,2011-08-31
6449,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Queens,Annual Average 2009,2008-12-01,10.05,2009-12-31
13252,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Bronx,Winter 2017-18,2017-12-01,8.28,2018-02-28
6519,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,Staten Island,2015,2015-01-01,2.70,2015-12-31
990,639,PM2.5-Attributable Deaths,Estimated Annual Rate - Adults 30 Yrs and Older,"per 100,000 adults",Brooklyn,2009-2011,2009-01-01,50.10,2011-12-31
8544,646,Air Toxics Concentrations- Average Benzene Con...,Annual Average Concentration,µg/m3,Manhattan,2011,2011-01-01,2.10,2011-12-31
12131,386,Ozone (O3),Mean,ppb,Staten Island,Summer 2017,2017-06-01,28.46,2017-08-31
1089,653,O3-Attributable Asthma Emergency Department Vi...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Staten Island,2009-2011,2009-01-01,67.90,2011-12-31
6451,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Bronx,Annual Average 2010,2009-12-01,10.14,2010-12-31
6611,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,Brooklyn,2015,2015-01-01,0.10,2015-12-31

In [44]:
air_quality_boros['Indicator ID'].nunique()

22

In [45]:
air_quality_boros.groupby(['Name', 'Measure'])['Indicator ID'].value_counts()

Name                                                                          Measure                                          Indicator ID
Air Toxics Concentrations- Average Benzene Concentrations                     Annual Average Concentration                     646              10
Air Toxics Concentrations- Average Formaldehyde Concentrations                Annual Average Concentration                     647              10
Boiler Emissions- Total NOx Emissions                                         Number per km2                                   642              10
Boiler Emissions- Total PM2.5 Emissions                                       Number per km2                                   641              10
Boiler Emissions- Total SO2 Emissions                                         Number per km2                                   640              10
Fine Particulate Matter (PM2.5)                                               Mean                                             365             180
Nitrogen Dioxide (NO2)                                                        Mean                                             375             180
O3-Attributable Asthma Emergency Department Visits                            Estimated Annual Rate- 18 Yrs and Older          659              20
                                                                              Estimated Annual Rate- Children 0 to 17 Yrs Old  653              20
O3-Attributable Asthma Hospitalizations                                       Estimated Annual Rate- 18 Yrs and Older          661              20
                                                                              Estimated Annual Rate- Children 0 to 17 Yrs Old  655              20
O3-Attributable Cardiac and Respiratory Deaths                                Estimated Annual Rate                            652              20
Ozone (O3)                                                                    Mean                                             386              60
PM2.5-Attributable Asthma Emergency Department Visits                         Estimated Annual Rate- 18 Yrs and Older          657              20
                                                                              Estimated Annual Rate- Children 0 to 17 Yrs Old  648              20
PM2.5-Attributable Cardiovascular Hospitalizations (Adults 40 Yrs and Older)  Estimated Annual Rate                            651              20
PM2.5-Attributable Deaths                                                     Estimated Annual Rate - Adults 30 Yrs and Older  639              20
PM2.5-Attributable Respiratory Hospitalizations (Adults 20 Yrs and Older)     Estimated Annual Rate                            650              20
Sulfur Dioxide (SO2)                                                          Mean                                             383              40
Traffic Density- Annual Vehicle Miles Traveled                                million miles                                    643               5
Traffic Density- Annual Vehicle Miles Traveled for Cars                       million miles                                    644              10
Traffic Density- Annual Vehicle Miles Traveled for Trucks                     million miles                                    645               5
Name: Indicator ID, dtype: int64

In [46]:
air_quality_boros = air_quality_boros.drop(['Indicator ID'], axis=1)

In [47]:
air_quality_boros.sample(10)

,Name,Measure,Measure Info,Geo Place Name,Time Period,Start_Date,Data Value,end_date
14021,O3-Attributable Asthma Hospitalizations,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Queens,2015-2017,2015-01-01,11.400000,2017-12-31
6407,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Brooklyn,Winter 2010-11,2010-12-01,12.620000,2011-02-28
13827,PM2.5-Attributable Respiratory Hospitalization...,Estimated Annual Rate,"per 100,000 adults",Staten Island,2015-2017,2015-01-01,15.000000,2017-12-31
157,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,Brooklyn,2013,2013-01-01,0.100000,2013-12-31
253,Air Toxics Concentrations- Average Benzene Con...,Annual Average Concentration,µg/m3,Bronx,2005,2005-01-01,2.800000,2005-12-31
15851,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Bronx,Winter 2019-20,2019-12-01,7.020000,2020-02-28
11463,PM2.5-Attributable Deaths,Estimated Annual Rate - Adults 30 Yrs and Older,"per 100,000 adults",Manhattan,2012-2014,2012-01-02,44.023147,2014-12-31
11219,O3-Attributable Asthma Emergency Department Vi...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Queens,2012-2014,2012-01-02,74.000000,2014-12-31
14070,O3-Attributable Asthma Hospitalizations,Estimated Annual Rate- 18 Yrs and Older,"per 100,000 adults",Staten Island,2015-2017,2015-01-01,3.700000,2017-12-31
6387,Nitrogen Dioxide (NO2),Mean,ppb,Brooklyn,Annual Average 2012,2011-12-01,20.560000,2012-12-31

## Traffic Volume Dataset Cleaning

In [48]:
traffic_volume.sample(10)

,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
12959439,10516,Manhattan,2012,9,30,15,0,31,34120,POINT (988075.4 219743.6),W 59 ST,AMSTERDAM AV/10 AV,9 AV/COLUMBUS AV,EB
16759567,15812,Staten Island,2013,11,15,23,45,0,6516,POINT (941369.6 144190),FAIRFIELD ST,GIFFORDS LA,MILES AV,WB
9727076,21220,Queens,2015,10,10,14,45,662,139175,POINT (1056875.9391407187 211917.49124943165),CROSS ISLAND PARKWAY,Dead End,Cross Island Pkwy Et 29 E-w Sb,SB
7319475,21148,Queens,2016,1,21,22,15,38,151037,POINT (1026691.3 202701),QUEENS BLVD,YELLOWSTONE BLVD,70 AV,WB
22638979,25839,Brooklyn,2017,4,27,23,30,23,21662,POINT (981382.660916049 186850.07978697153),VAN BRUNT STREET,Verona Street,Visitation Place,SB
11901652,25931,Brooklyn,2016,9,18,16,45,37,24284,POINT (987919.7434164814 194790.11324120488),JAY STREET,Brooklyn Queens Expressway,Houston/essex Street Line,NB
26141116,28260,Bronx,2018,5,30,21,30,34,77571,POINT (1014416.0411374695 234924.27087498776),RANDALL AVENUE,Worthen Street,Tiffany Street,WB
25879850,19464,Bronx,2015,5,15,13,15,930,95879,POINT (1038051.4506313965 262256.2946083581),NEW ENGLAND THRUWAY,Dead End,Dead end,SB
15297696,17737,Manhattan,2014,8,9,8,0,77,137238,POINT (981038.4 194886.7),FDR DR VI,F D R DR,SOUTH ST,SB
15282649,23707,Brooklyn,2016,6,20,5,45,7,29364,POINT (995016.4188838241 188022.24069108855),PUTNAM AVENUE,Grand Avenue,Downing Street,WB

In [49]:
traffic_volume.shape

(27190511, 14)

In [50]:
print(traffic_volume.isnull().sum() / len(traffic_volume))

RequestID    0.000000
Boro         0.000000
Yr           0.000000
M            0.000000
D            0.000000
HH           0.000000
MM           0.000000
Vol          0.000000
SegmentID    0.000000
WktGeom      0.000000
street       0.000000
fromSt       0.000000
toSt         0.000074
Direction    0.000000
dtype: float64

In [51]:
print(traffic_volume.nunique() / len(traffic_volume))

RequestID    2.607527e-04
Boro         1.838877e-07
Yr           5.884406e-07
M            4.413304e-07
D            1.140104e-06
HH           8.826609e-07
MM           1.471101e-07
Vol          1.476986e-04
SegmentID    5.499345e-04
WktGeom      7.525787e-04
street       2.482484e-04
fromSt       2.361486e-04
toSt         2.175391e-04
Direction    2.206652e-07
dtype: float64

In [52]:
traffic_volume.nunique()

RequestID     7090
Boro             5
Yr              16
M               12
D               31
HH              24
MM               4
Vol           4016
SegmentID    14953
WktGeom      20463
street        6750
fromSt        6421
toSt          5915
Direction        6
dtype: int64

In [53]:
traffic_volume.dtypes

RequestID     int64
Boro         object
Yr            int64
M             int64
D             int64
HH            int64
MM            int64
Vol           int64
SegmentID     int64
WktGeom      object
street       object
fromSt       object
toSt         object
Direction    object
dtype: object

In [54]:
traffic_volume.Yr.min()

2000

In [55]:
traffic_volume = traffic_volume[traffic_volume['Yr'] >= 2005]

In [56]:
traffic_volume.shape

(27188607, 14)

In [57]:
traffic_volume['Yr'].value_counts().sort_index()

2006        664
2007      11780
2008      68591
2009    1012766
2010    1421397
2011    1238391
2012    2434583
2013    2829656
2014    3708367
2015    3232005
2016    3362243
2017    3013530
2018    2046443
2019    2365633
2020     442558
Name: Yr, dtype: int64

In [58]:
traffic_volume = traffic_volume[traffic_volume['Yr'] > 2008]

In [59]:
traffic_volume.shape

(27107572, 14)

In [60]:
traffic_volume['date_time'] = pd.to_datetime(dict(year=traffic_volume.Yr, \
                                                  month=traffic_volume.M, \
                                                  day=traffic_volume.D, \
                                                  hour=traffic_volume.HH, \
                                                  minute=traffic_volume.MM))

In [61]:
traffic_volume = traffic_volume.drop(['Yr', 'M', 'D', 'HH', 'MM'], axis=1)

In [62]:
traffic_volume.sample(10)

,RequestID,Boro,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction,date_time
15947758,23335,Brooklyn,9,30286,POINT (993947.308496628 190367.277294401),ST JAMES PLACE,Dekalb Avenue,Crosstown Line,SB,2016-04-24 07:00:00
1441315,2020,Manhattan,37,38777,POINT (998173.5 238896.8),S/B AMSTERDAM AVE @ W 140 ST,W 140 ST,W 141 ST,SB,2009-09-18 06:00:00
26974735,20801,Bronx,56,135202,POINT (1029347.9973935193 247321.79777374578),HUTCHINSON RIVER PARKWAY,Dead End,Dead end,SB,2015-06-19 02:15:00
344992,26610,Brooklyn,174,42098,POINT (1003482.7432042283 177760.4981178511),UTICA AVENUE,Lenox Road,Linden Boulevard,NB,2018-04-13 16:45:00
22691608,26515,Manhattan,171,34257,POINT (989398.4040952286 219352.89482725388),CENTRAL PARK WEST,8 Avenue Line,8 Avenue Line,NB,2017-10-09 09:15:00
17363492,2811,Brooklyn,0,45165,POINT (1008139.5 195692.6),N/B GREENE AVE @ CYPRESS AVE,ST NICHOLAS AV,CYPRESS AV,NB,2010-03-22 22:00:00
25442846,1495,Brooklyn,4,28642,POINT (998113.4 171480.9),S/B E 28 ST @ FARRAGUT RD,FOSTER AV,FARRAGUT RD,SB,2010-04-15 01:45:00
10894332,11737,Queens,5,192770,POINT (1061649.1 217794.4),HOR HARDING EXWY SR S,DEAD END,LITTLE NECK PKWY,EB,2013-06-14 00:15:00
2724924,28844,Queens,238,117626,POINT (1057886.1762797537 220735.58200108662),NORTHERN BOULEVARD,Morgan Street,Glenwood Street,EB,2019-01-13 16:30:00
918606,9732,Staten Island,9,12504,POINT (951796.3 162190.4),SLOSSON AVE NB APPROACH TO WINDSOR RD,WINDSOR RD,STATEN ISL EXWY WB EXIT 12/REON AV,NB,2011-03-13 05:45:00

In [63]:
traffic_volume['date_time'].dt.year.value_counts().sort_index()

2009    1012766
2010    1421397
2011    1238391
2012    2434583
2013    2829656
2014    3708367
2015    3232005
2016    3362243
2017    3013530
2018    2046443
2019    2365633
2020     442558
Name: date_time, dtype: int64

In [64]:
traffic_volume.sort_values(["date_time"], 
                    axis=0,
                    ascending=[False], 
                    inplace=True);
traffic_volume.head(15)

,RequestID,Boro,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction,date_time
25543663,32417,Queens,20,67665,POINT (1004228.4823799994 215767.68782613552),31 STREET,34 Avenue,35 Avenue,SB,2020-11-22 23:45:00
20968423,32417,Queens,3,101621,POINT (1055667.922729934 216597.78334720692),DOUGLASTON PARKWAY,Maryland Road,Van Zandt Avenue,SB,2020-11-22 23:45:00
6368254,32417,Queens,27,148877,POINT (1015917.5752772316 218664.23589469263),23 AVENUE,Dead End,85 Street,WB,2020-11-22 23:45:00
7417214,32417,Queens,22,155846,POINT (1050166.9282559236 199291.28045636677),JAMAICA AVENUE,197 Street,198 Street,WB,2020-11-22 23:45:00
18926986,32417,Queens,5,76510,POINT (1017222.1345317845 216101.64900761063),31 AVENUE,87 Street,88 Street,WB,2020-11-22 23:45:00
13407547,32417,Queens,60,155773,POINT (1027092.2981505651 190399.9018293268),ATLANTIC AVENUE,97 Street,98 Street,WB,2020-11-22 23:45:00
7423333,32417,Queens,8,75313,POINT (1019421.0343045937 208800.348152701),51 AVENUE,90 Street,92 Street,EB,2020-11-22 23:45:00
18674125,32417,Queens,33,45497,POINT (1009925.0151697205 199046.51050050836),METROPOLITAN AVENUE,55 Street,56 Street,WB,2020-11-22 23:45:00
18956053,32417,Queens,6,145416,POINT (1046510.2750956557 205583.03286028266),UNION TURNPIKE,Dead End,Dead end,EB,2020-11-22 23:45:00
9171262,32417,Queens,5,101855,POINT (1057510.6819890984 218109.6099654521),MARATHON PARKWAY,Rushmore Avenue,Morenci Lane,SB,2020-11-22 23:45:00
9435689,32417,Queens,22,67871,POINT (1006028.3778241775 214729.5064342989),STEINWAY STREET,34 Avenue,35 Avenue,NB,2020-11-22 23:45:00
16653390,32417,Queens,38,178893,POINT (1034371.243317126 200612.49457847848),UNION TURNPIKE,141 Street,Dead end,EB,2020-11-22 23:45:00
27115101,32417,Queens,23,178889,POINT (1034348.7585503203 200676.7490561917),UNION TURNPIKE,141 Street,Dead end,WB,2020-11-22 23:45:00
10717113,32417,Queens,19,84009,POINT (1027402.9568063112 215228.7145599255),126 STREET,37 Avenue,38 Avenue,SB,2020-11-22 23:45:00
9605807,32417,Queens,5,106891,POINT (1008343.8792898405 212113.17121690518),39 AVENUE,Dead End,51 Street,EB,2020-11-22 23:45:00

## Mobility dataset cleaning

In [65]:
mobility_global.head(10).transpose()

,0,1,2,3,4,5,6,7,8,9
country_region_code,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
country_region,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates
sub_region_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sub_region_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
metro_area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
iso_3166_2_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
census_fips_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
place_id,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM
date,2020-02-15,2020-02-16,2020-02-17,2020-02-18,2020-02-19,2020-02-20,2020-02-21,2020-02-22,2020-02-23,2020-02-24
retail_and_recreation_percent_change_from_baseline,0.0,1.0,-1.0,-2.0,-2.0,-2.0,-3.0,-2.0,-1.0,-3.0
grocery_and_pharmacy_percent_change_from_baseline,4.0,4.0,1.0,1.0,0.0,1.0,2.0,2.0,3.0,0.0
parks_percent_change_from_baseline,5.0,4.0,5.0,5.0,4.0,6.0,6.0,4.0,3.0,5.0
transit_stations_percent_change_from_baseline,0.0,1.0,1.0,0.0,-1.0,1.0,0.0,-2.0,-1.0,-1.0
workplaces_percent_change_from_baseline,2.0,2.0,2.0,2.0,2.0,1.0,-1.0,3.0,4.0,3.0
residential_percent_change_from_baseline,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [66]:
mobility_global.shape

(11730025, 15)

In [67]:
mobility_nyc = mobility_global[mobility_global['country_region_code'].eq('US') & 
                               mobility_global['sub_region_1'].eq('New York') & 
                               mobility_global['sub_region_2'].str.contains('Bronx|Kings|New York|Queens|Richmond')]

In [68]:
mobility_nyc.sample(10).transpose()

,10551235,10570553,10587275,10551818,10587697,10589814,10577652,10587291,10589000,10578126
country_region_code,US,US,US,US,US,US,US,US,US,US
country_region,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
sub_region_1,New York,New York,New York,New York,New York,New York,New York,New York,New York,New York
sub_region_2,Bronx County,Kings County,Queens County,Bronx County,Queens County,Richmond County,New York County,Queens County,Richmond County,New York County
metro_area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
iso_3166_2_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
census_fips_code,36005.0,36047.0,36081.0,36005.0,36081.0,36085.0,36061.0,36081.0,36085.0,36061.0
place_id,ChIJBUEf6ovgwokRwlazSIxIpsk,ChIJOwE7_GTtwokRs75rhW4_I6M,ChIJgav5pFbxwokRno6Tc5x2GL8,ChIJBUEf6ovgwokRwlazSIxIpsk,ChIJgav5pFbxwokRno6Tc5x2GL8,ChIJOwE7_GTtwokR1V_vES61lRI,ChIJOwE7_GTtwokRFq0uOwLSE9g,ChIJgav5pFbxwokRno6Tc5x2GL8,ChIJOwE7_GTtwokR1V_vES61lRI,ChIJOwE7_GTtwokRFq0uOwLSE9g
date,2020-06-05,2020-03-26,2020-11-03,2022-01-09,2021-12-30,2022-06-17,2021-02-13,2020-11-19,2020-03-25,2022-06-02
retail_and_recreation_percent_change_from_baseline,-41.0,-55.0,-22.0,-42.0,-8.0,-9.0,-62.0,-28.0,-50.0,-40.0
grocery_and_pharmacy_percent_change_from_baseline,-10.0,-16.0,4.0,-24.0,18.0,0.0,-25.0,-3.0,-25.0,-24.0
parks_percent_change_from_baseline,-24.0,4.0,14.0,-41.0,2.0,-2.0,-55.0,-3.0,-47.0,-4.0
transit_stations_percent_change_from_baseline,-44.0,-61.0,-49.0,-39.0,-36.0,-29.0,-55.0,-48.0,-64.0,-33.0
workplaces_percent_change_from_baseline,-47.0,-63.0,-43.0,-26.0,-46.0,-27.0,-30.0,-40.0,-56.0,-40.0
residential_percent_change_from_baseline,21.0,29.0,15.0,8.0,15.0,4.0,9.0,16.0,27.0,9.0

In [69]:
mobility_nyc.shape

(4870, 15)

In [70]:
mobility_nyc.isnull().sum() / len(mobility_nyc)

country_region_code                                   0.000000
country_region                                        0.000000
sub_region_1                                          0.000000
sub_region_2                                          0.000000
metro_area                                            1.000000
iso_3166_2_code                                       1.000000
census_fips_code                                      0.000000
place_id                                              0.000000
date                                                  0.000000
retail_and_recreation_percent_change_from_baseline    0.000000
grocery_and_pharmacy_percent_change_from_baseline     0.000000
parks_percent_change_from_baseline                    0.001643
transit_stations_percent_change_from_baseline         0.000000
workplaces_percent_change_from_baseline               0.000000
residential_percent_change_from_baseline              0.000000
dtype: float64

In [71]:
mobility_nyc = mobility_nyc.drop(['metro_area', 'iso_3166_2_code'], axis=1)

In [72]:
mobility_nyc.isnull().sum()

country_region_code                                   0
country_region                                        0
sub_region_1                                          0
sub_region_2                                          0
census_fips_code                                      0
place_id                                              0
date                                                  0
retail_and_recreation_percent_change_from_baseline    0
grocery_and_pharmacy_percent_change_from_baseline     0
parks_percent_change_from_baseline                    8
transit_stations_percent_change_from_baseline         0
workplaces_percent_change_from_baseline               0
residential_percent_change_from_baseline              0
dtype: int64

In [73]:
mobility_nyc = mobility_nyc.drop(['country_region_code', 'country_region', 'sub_region_1'], axis=1)

In [74]:
mobility_nyc.sample(10)

,sub_region_2,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
10551664,Bronx County,36005.0,ChIJBUEf6ovgwokRwlazSIxIpsk,2021-08-08,-21.0,-17.0,31.0,-21.0,-22.0,1.0
10589689,Richmond County,36085.0,ChIJOwE7_GTtwokR1V_vES61lRI,2022-02-12,-16.0,0.0,6.0,-24.0,-14.0,2.0
10551653,Bronx County,36005.0,ChIJBUEf6ovgwokRwlazSIxIpsk,2021-07-28,-12.0,-7.0,1.0,-28.0,-39.0,6.0
10551998,Bronx County,36005.0,ChIJBUEf6ovgwokRwlazSIxIpsk,2022-07-08,-30.0,-15.0,-21.0,-34.0,-36.0,6.0
10589190,Richmond County,36085.0,ChIJOwE7_GTtwokR1V_vES61lRI,2020-10-01,-16.0,-1.0,8.0,-36.0,-31.0,10.0
10577293,New York County,36061.0,ChIJOwE7_GTtwokRFq0uOwLSE9g,2020-02-20,3.0,-1.0,6.0,-1.0,-5.0,1.0
10578094,New York County,36061.0,ChIJOwE7_GTtwokRFq0uOwLSE9g,2022-05-01,-34.0,-26.0,5.0,-25.0,-17.0,1.0
10577526,New York County,36061.0,ChIJOwE7_GTtwokRFq0uOwLSE9g,2020-10-10,-54.0,-22.0,-5.0,-44.0,-22.0,4.0
10551658,Bronx County,36005.0,ChIJBUEf6ovgwokRwlazSIxIpsk,2021-08-02,-11.0,-6.0,-10.0,-30.0,-38.0,7.0
10570956,Kings County,36047.0,ChIJOwE7_GTtwokRs75rhW4_I6M,2021-05-03,-25.0,-9.0,2.0,-41.0,-42.0,13.0

In [75]:
mobility_nyc.groupby(['sub_region_2', 'census_fips_code'])['place_id'].nunique()

sub_region_2     census_fips_code
Bronx County     36005.0             1
Kings County     36047.0             1
New York County  36061.0             1
Queens County    36081.0             1
Richmond County  36085.0             1
Name: place_id, dtype: int64

In [76]:
mobility_nyc = mobility_nyc.drop(['census_fips_code', 'place_id'], axis=1)

In [77]:
mobility_nyc.sample(10).transpose()

,10571125,10589152,10587847,10589738,10551848,10578095,10577361,10577885,10577879,10570613
sub_region_2,Kings County,Richmond County,Queens County,Richmond County,Bronx County,New York County,New York County,New York County,New York County,Kings County
date,2021-10-19,2020-08-24,2022-05-29,2022-04-02,2022-02-08,2022-05-02,2020-04-28,2021-10-04,2021-09-28,2020-05-25
retail_and_recreation_percent_change_from_baseline,-18.0,-26.0,-10.0,-18.0,-24.0,-44.0,-83.0,-42.0,-42.0,-48.0
grocery_and_pharmacy_percent_change_from_baseline,-3.0,-9.0,-8.0,-7.0,-4.0,-32.0,-41.0,-18.0,-16.0,-19.0
parks_percent_change_from_baseline,39.0,25.0,160.0,-9.0,-30.0,-32.0,-42.0,-28.0,-15.0,79.0
transit_stations_percent_change_from_baseline,-27.0,-42.0,-14.0,-29.0,-27.0,-42.0,-78.0,-38.0,-39.0,-63.0
workplaces_percent_change_from_baseline,-32.0,-43.0,-15.0,-12.0,-28.0,-48.0,-75.0,-48.0,-48.0,-70.0
residential_percent_change_from_baseline,7.0,12.0,-4.0,0.0,6.0,13.0,23.0,13.0,13.0,26.0

In [78]:
mobility_nyc.shape

(4870, 8)

In [79]:
mobility_nyc.dtypes

sub_region_2                                           object
date                                                   object
retail_and_recreation_percent_change_from_baseline    float64
grocery_and_pharmacy_percent_change_from_baseline     float64
parks_percent_change_from_baseline                    float64
transit_stations_percent_change_from_baseline         float64
workplaces_percent_change_from_baseline               float64
residential_percent_change_from_baseline              float64
dtype: object

In [80]:
mobility_nyc.sort_values(["date"], 
                    axis=0,
                    ascending=[True], 
                    inplace=True)

In [82]:
mobility_nyc.shape

(1405, 8)

## Transformed Datasets

In [83]:
traffic_volume.head(15)

,RequestID,Boro,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction,date_time
25543663,32417,Queens,20,67665,POINT (1004228.4823799994 215767.68782613552),31 STREET,34 Avenue,35 Avenue,SB,2020-11-22 23:45:00
20968423,32417,Queens,3,101621,POINT (1055667.922729934 216597.78334720692),DOUGLASTON PARKWAY,Maryland Road,Van Zandt Avenue,SB,2020-11-22 23:45:00
6368254,32417,Queens,27,148877,POINT (1015917.5752772316 218664.23589469263),23 AVENUE,Dead End,85 Street,WB,2020-11-22 23:45:00
7417214,32417,Queens,22,155846,POINT (1050166.9282559236 199291.28045636677),JAMAICA AVENUE,197 Street,198 Street,WB,2020-11-22 23:45:00
18926986,32417,Queens,5,76510,POINT (1017222.1345317845 216101.64900761063),31 AVENUE,87 Street,88 Street,WB,2020-11-22 23:45:00
13407547,32417,Queens,60,155773,POINT (1027092.2981505651 190399.9018293268),ATLANTIC AVENUE,97 Street,98 Street,WB,2020-11-22 23:45:00
7423333,32417,Queens,8,75313,POINT (1019421.0343045937 208800.348152701),51 AVENUE,90 Street,92 Street,EB,2020-11-22 23:45:00
18674125,32417,Queens,33,45497,POINT (1009925.0151697205 199046.51050050836),METROPOLITAN AVENUE,55 Street,56 Street,WB,2020-11-22 23:45:00
18956053,32417,Queens,6,145416,POINT (1046510.2750956557 205583.03286028266),UNION TURNPIKE,Dead End,Dead end,EB,2020-11-22 23:45:00
9171262,32417,Queens,5,101855,POINT (1057510.6819890984 218109.6099654521),MARATHON PARKWAY,Rushmore Avenue,Morenci Lane,SB,2020-11-22 23:45:00
9435689,32417,Queens,22,67871,POINT (1006028.3778241775 214729.5064342989),STEINWAY STREET,34 Avenue,35 Avenue,NB,2020-11-22 23:45:00
16653390,32417,Queens,38,178893,POINT (1034371.243317126 200612.49457847848),UNION TURNPIKE,141 Street,Dead end,EB,2020-11-22 23:45:00
27115101,32417,Queens,23,178889,POINT (1034348.7585503203 200676.7490561917),UNION TURNPIKE,141 Street,Dead end,WB,2020-11-22 23:45:00
10717113,32417,Queens,19,84009,POINT (1027402.9568063112 215228.7145599255),126 STREET,37 Avenue,38 Avenue,SB,2020-11-22 23:45:00
9605807,32417,Queens,5,106891,POINT (1008343.8792898405 212113.17121690518),39 AVENUE,Dead End,51 Street,EB,2020-11-22 23:45:00

In [84]:
air_quality.sample(10)

,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
4295,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF34,Williamsburg - Bushwick,Winter 2008-09,2008-12-01,14.11
573,655,O3-Attributable Asthma Hospitalizations,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",UHF42,Williamsburg - Bushwick,2005-2007,2005-01-01,40.10
1377,645,Traffic Density- Annual Vehicle Miles Traveled...,million miles,per km2,CD,Upper East Side (CD8),2005,2005-01-01,3.50
15171,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF42,Hunts Point - Mott Haven,Winter 2019-20,2019-12-01,25.29
4226,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF34,Coney Island - Sheepshead Bay,Annual Average 2012,2011-12-01,17.21
3616,383,Sulfur Dioxide (SO2),Mean,ppb,UHF34,Central Harlem - Morningside Heights,Winter 2008-09,2008-12-01,8.21
11192,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,South Ozone Park and Howard Beach (CD10),Winter 2015-16,2015-12-01,22.46
1987,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,Ridgewood and Maspeth (CD5),Winter 2010-11,2010-12-01,30.70
11239,653,O3-Attributable Asthma Emergency Department Vi...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",UHF42,Williamsburg - Bushwick,2012-2014,2012-01-02,196.90
4600,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF34,Bensonhurst - Bay Ridge,Summer 2013,2013-06-01,9.77