In [50]:
import pandas as pd
import numpy as np

In [2]:
air_quality = pd.read_csv('datasets/Air_Quality.csv')
traffic_volume = pd.read_csv('datasets/Automated_Traffic_Volume_Counts.csv')

In [3]:
air_quality.sample(10)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
1292,151684,644,Traffic Density- Annual Vehicle Miles Traveled...,million miles,per km2,UHF42,207,East Flatbush - Flatbush,2005,01/01/2005,25.30,NaN
5662,177170,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF42,404,Bayside - Little Neck,Winter 2008-09,12/01/2008,12.16,NaN
11364,518644,661,O3-Attributable Asthma Hospitalizations,Estimated Annual Rate- 18 Yrs and Older,"per 100,000 adults",Borough,2,Brooklyn,2012-2014,01/02/2012,6.90,NaN
12245,549446,386,Ozone (O3),Mean,ppb,CD,401,Long Island City and Astoria (CD1),Summer 2017,06/01/2017,29.47,NaN
6590,179837,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,202,Downtown - Heights - Slope,2015,01/01/2015,0.20,NaN
6877,212078,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF34,302,Central Harlem - Morningside Heights,Annual Average 2014,12/01/2013,9.73,NaN
4886,174713,383,Sulfur Dioxide (SO2),Mean,ppb,UHF42,204,East New York,Winter 2010-11,12/01/2010,3.36,NaN
7012,212449,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF42,406,Fresh Meadows,Summer 2014,06/01/2014,14.13,NaN
7570,214133,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,302,Fort Greene and Brooklyn Heights (CD2),Annual Average 2014,12/01/2013,10.01,NaN
14228,643374,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF42,301,Washington Heights,Winter 2018-19,12/01/2018,22.24,NaN

In [4]:
print(air_quality.isnull().sum() / len(air_quality))

Unique ID         0.0
Indicator ID      0.0
Name              0.0
Measure           0.0
Measure Info      0.0
Geo Type Name     0.0
Geo Join ID       0.0
Geo Place Name    0.0
Time Period       0.0
Start_Date        0.0
Data Value        0.0
Message           1.0
dtype: float64

In [5]:
air_quality = air_quality.drop(['Message'], axis=1)
print(air_quality.isnull().sum() / len(air_quality))

Unique ID         0.0
Indicator ID      0.0
Name              0.0
Measure           0.0
Measure Info      0.0
Geo Type Name     0.0
Geo Join ID       0.0
Geo Place Name    0.0
Time Period       0.0
Start_Date        0.0
Data Value        0.0
dtype: float64

In [6]:
print(air_quality.nunique() / len(air_quality))

Unique ID         1.000000
Indicator ID      0.001365
Name              0.001179
Measure           0.000496
Measure Info      0.000496
Geo Type Name     0.000310
Geo Join ID       0.004466
Geo Place Name    0.007071
Time Period       0.002791
Start_Date        0.002233
Data Value        0.253443
dtype: float64

In [7]:
air_quality = air_quality.drop(['Unique ID'], axis=1)
print(air_quality.shape)
print(air_quality.nunique() / len(air_quality))

(16122, 10)
Indicator ID      0.001365
Name              0.001179
Measure           0.000496
Measure Info      0.000496
Geo Type Name     0.000310
Geo Join ID       0.004466
Geo Place Name    0.007071
Time Period       0.002791
Start_Date        0.002233
Data Value        0.253443
dtype: float64

In [8]:
air_quality.dtypes

Indicator ID        int64
Name               object
Measure            object
Measure Info       object
Geo Type Name      object
Geo Join ID         int64
Geo Place Name     object
Time Period        object
Start_Date         object
Data Value        float64
dtype: object

In [9]:
air_quality.nunique()

Indicator ID        22
Name                19
Measure              8
Measure Info         8
Geo Type Name        5
Geo Join ID         72
Geo Place Name     114
Time Period         45
Start_Date          36
Data Value        4086
dtype: int64

In [10]:
air_quality['Time Period'].unique()

array(['Summer 2013', 'Summer 2014', 'Winter 2008-09', 'Summer 2009',
       'Summer 2010', 'Summer 2011', 'Summer 2012', 'Winter 2009-10',
       '2005-2007', '2013', '2005', '2009-2011', 'Winter 2010-11',
       'Winter 2011-12', 'Winter 2012-13', 'Annual Average 2009',
       'Annual Average 2010', 'Annual Average 2011',
       'Annual Average 2012', 'Annual Average 2013', '2015',
       'Winter 2013-14', 'Annual Average 2014', '2011', 'Winter 2014-15',
       '2016', 'Annual Average 2015', 'Summer 2015', 'Winter 2015-16',
       'Summer 2016', 'Annual Average 2016', 'Summer 2017', '2012-2014',
       'Summer 2018', 'Annual Average 2017', 'Summer 2019',
       'Winter 2016-17', 'Annual Average 2018', 'Winter 2017-18',
       '2015-2017', 'Summer 2020', 'Annual Average 2019',
       'Winter 2018-19', 'Annual Average 2020', 'Winter 2019-20'],
      dtype=object)

In [39]:
air_quality['Time Period'].value_counts() / len(air_quality)

2012-2014              0.029773
2005-2007              0.029773
2009-2011              0.029773
2015-2017              0.029773
Summer 2018            0.026237
Summer 2017            0.026237
Summer 2016            0.026237
Winter 2015-16         0.026237
Summer 2015            0.026237
Summer 2019            0.026237
Winter 2014-15         0.026237
Summer 2014            0.026237
Winter 2013-14         0.026237
Summer 2020            0.026237
Summer 2013            0.026237
Winter 2009-10         0.026237
Summer 2011            0.026237
Winter 2011-12         0.026237
Winter 2010-11         0.026237
Winter 2008-09         0.026237
Summer 2009            0.026237
Summer 2010            0.026237
Winter 2012-13         0.026237
Summer 2012            0.026237
2005                   0.025245
2016                   0.019911
Annual Average 2017    0.017492
Winter 2018-19         0.017492
Winter 2016-17         0.017492
Annual Average 2020    0.017492
Annual Average 2018    0.017492
Winter 2017-18         0.017492
Annual Average 2019    0.017492
Annual Average 2014    0.017492
Annual Average 2016    0.017492
Annual Average 2015    0.017492
Annual Average 2013    0.017492
Annual Average 2012    0.017492
Annual Average 2011    0.017492
Annual Average 2010    0.017492
Annual Average 2009    0.017492
Winter 2019-20         0.017492
2011                   0.013274
2015                   0.008932
2013                   0.008932
Name: Time Period, dtype: float64

In [11]:
air_quality['Start_Date'].unique()

array(['06/01/2013', '06/01/2014', '12/01/2008', '06/01/2009',
       '06/01/2010', '06/01/2011', '06/01/2012', '12/01/2009',
       '01/01/2005', '01/01/2013', '01/01/2009', '12/01/2010',
       '12/01/2011', '12/01/2012', '01/01/2015', '12/01/2013',
       '01/01/2011', '12/01/2014', '01/01/2016', '06/01/2015',
       '12/01/2015', '05/31/2016', '12/31/2015', '06/01/2017',
       '01/02/2012', '06/01/2018', '01/01/2017', '06/01/2019',
       '12/01/2016', '01/01/2018', '12/01/2017', '06/01/2020',
       '01/01/2019', '12/01/2018', '01/01/2020', '12/01/2019'],
      dtype=object)

In [12]:
air_quality['Start_Date'] = pd.to_datetime(air_quality['Start_Date'], infer_datetime_format=True)

In [13]:
air_quality['Start_Date'].min()

Timestamp('2005-01-01 00:00:00')

In [42]:
air_quality['Start_Date'].value_counts().sort_index() / len(air_quality)

2005-01-01    0.055018
2008-12-01    0.043729
2009-01-01    0.029773
2009-06-01    0.026237
2009-12-01    0.043729
2010-06-01    0.026237
2010-12-01    0.043729
2011-01-01    0.013274
2011-06-01    0.026237
2011-12-01    0.043729
2012-01-02    0.029773
2012-06-01    0.026237
2012-12-01    0.043729
2013-01-01    0.008932
2013-06-01    0.026237
2013-12-01    0.043729
2014-06-01    0.026237
2014-12-01    0.026237
2015-01-01    0.056197
2015-06-01    0.026237
2015-12-01    0.026237
2015-12-31    0.017492
2016-01-01    0.019911
2016-05-31    0.026237
2016-12-01    0.017492
2017-01-01    0.017492
2017-06-01    0.026237
2017-12-01    0.017492
2018-01-01    0.017492
2018-06-01    0.026237
2018-12-01    0.017492
2019-01-01    0.017492
2019-06-01    0.026237
2019-12-01    0.017492
2020-01-01    0.017492
2020-06-01    0.026237
Name: Start_Date, dtype: float64

In [14]:
traffic_volume.sample(10)

,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
26912480,17395,Brooklyn,2014,6,19,20,15,208,25816,POINT (995051.2 156868),CONEY ISLAND AV,AV V,AV U,NB
3033109,18546,Brooklyn,2014,11,22,6,0,18,9004653,POINT (995049.460468827 197231.36693934878),ROEBLING STREET,Dead End,Dead end,SB
12479941,29439,Brooklyn,2018,11,11,13,0,34,27592,POINT (1000047.3823937807 162815.2882185739),MARINE PARKWAY,Nostrand Avenue,Avenue P,SB
21124785,29804,Queens,2019,2,14,5,30,63,9010008,POINT (1012872.9620402011 196560.4217880701),FRESH POND ROAD,Putnam Avenue,Myrtle Avenue Line,NB
19916464,15972,Manhattan,2013,11,3,16,45,154,158627,POINT (999220.5 229230.3),PARK AV,E 111 ST,E 110 ST,SB
848686,27501,Bronx,2018,1,22,1,45,7,184385,POINT (1015541.4977265897 261090.6105424104),MOSHOLU PARKWAY,Bike Path,West Mosholu Parkway South,NB
19620252,28834,Brooklyn,2018,11,13,10,45,51,43320,POINT (1003871.152262813 188446.53483650374),MALCOLM X BOULEVARD,Halsey Street,Macon Street,SB
10331261,18613,Brooklyn,2014,11,12,8,45,1077,190698,POINT (981445.2 158142.7),SHORE PARKWAY,DISTRICT BOUNDARY,CENSUS BOUNDARY,WB
26430331,2624,Queens,2011,3,5,11,15,247,67512,POINT (1003197.9 213251.9),W/B NORTHERN BLVD @ HONEYWELL ST,39 AV/HONEYWELL ST,33 ST,WB
8903515,23760,Queens,2016,6,16,9,0,214,177441,POINT (1020548.5850905235 219711.2742011129),LA GUARDIA ARPT ENTRANCE,Dead end,Ditmars Boulevard,WB

In [15]:
traffic_volume.shape

(27190511, 14)

In [16]:
print(traffic_volume.isnull().sum() / len(traffic_volume))

RequestID    0.000000
Boro         0.000000
Yr           0.000000
M            0.000000
D            0.000000
HH           0.000000
MM           0.000000
Vol          0.000000
SegmentID    0.000000
WktGeom      0.000000
street       0.000000
fromSt       0.000000
toSt         0.000074
Direction    0.000000
dtype: float64

In [17]:
print(traffic_volume.nunique() / len(traffic_volume))

RequestID    2.607527e-04
Boro         1.838877e-07
Yr           5.884406e-07
M            4.413304e-07
D            1.140104e-06
HH           8.826609e-07
MM           1.471101e-07
Vol          1.476986e-04
SegmentID    5.499345e-04
WktGeom      7.525787e-04
street       2.482484e-04
fromSt       2.361486e-04
toSt         2.175391e-04
Direction    2.206652e-07
dtype: float64

In [18]:
traffic_volume.nunique()

RequestID     7090
Boro             5
Yr              16
M               12
D               31
HH              24
MM               4
Vol           4016
SegmentID    14953
WktGeom      20463
street        6750
fromSt        6421
toSt          5915
Direction        6
dtype: int64

In [19]:
traffic_volume.dtypes

RequestID     int64
Boro         object
Yr            int64
M             int64
D             int64
HH            int64
MM            int64
Vol           int64
SegmentID     int64
WktGeom      object
street       object
fromSt       object
toSt         object
Direction    object
dtype: object

In [20]:
traffic_volume.Yr.min()

2000

In [21]:
traffic_volume = traffic_volume[traffic_volume['Yr'] >= 2005]

In [22]:
traffic_volume.shape

(27188607, 14)

In [54]:
traffic_volume['Yr'].value_counts().sort_index()

2006        664
2007      11780
2008      68591
2009    1012766
2010    1421397
2011    1238391
2012    2434583
2013    2829656
2014    3708367
2015    3232005
2016    3362243
2017    3013530
2018    2046443
2019    2365633
2020     442558
Name: Yr, dtype: int64

In [55]:
traffic_volume = traffic_volume[traffic_volume['Yr'] > 2008]

In [56]:
traffic_volume.shape

(27107572, 15)

In [26]:
traffic_volume['date_time'] = pd.to_datetime(dict(year=traffic_volume.Yr, \
                                                  month=traffic_volume.M, \
                                                  day=traffic_volume.D, \
                                                  hour=traffic_volume.HH, \
                                                  minute=traffic_volume.MM))

In [57]:
traffic_volume = traffic_volume.drop(['Yr', 'M', 'D', 'HH', 'MM'], axis=1)

In [58]:
traffic_volume.sample(10)

,RequestID,Boro,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction,date_time
6712146,22517,Bronx,99,146686,POINT (1034108.4804406962 263674.2975912312),BOSTON ROAD,Dead End,Dead end,SB,2016-03-18 21:45:00
10995915,11079,Brooklyn,12,25631,POINT (994673.9 156090.2),EAST 8 STREET,AVENUE V,GRAVESEND NECK ROAD,NB,2012-10-18 09:30:00
16939672,11309,Staten Island,17,16385,POINT (962959.6 173438.3),STUYVESANT PL,SCHUYLER ST,HYATT ST,SB,2013-01-27 19:00:00
11690214,11560,Bronx,106,78404,POINT (1011126.3 248463.5),E TREMONT AV,ANTHONY AV,BEND,WB,2012-10-17 21:00:00
13516928,30153,Bronx,71,89528,POINT (1026062.2270505144 269645.6241261366),WHITE PLAINS ROAD,East 243 Street,Dead end,SB,2019-04-02 14:45:00
12100526,16665,Queens,0,169676,POINT (1034933.2 153012.8),ROCKAWAY FRWY,X BAY BR EN RP/CROSS BAY PKWY,CROSS BAY PKWY/X BAY BR EXIT RP,WB,2014-02-18 11:15:00
9886426,22058,Brooklyn,79,258946,POINT (992024.2786521182 176201.61749511177),CONEY ISLAND AVENUE,Bike Path,Caton Place,SB,2015-11-13 09:15:00
11211285,26248,Manhattan,367,35868,POINT (990800.4895093541 218170.8906283974),AVENUE OF THE AMERICAS,63 Street Line,63 Street Line,NB,2017-06-19 16:00:00
6374110,23607,Bronx,234,147035,POINT (1022226.6373977171 242800.9297735185),WHITE PLAINS ROAD,Dead end,Pelham Line,SB,2016-06-22 16:15:00
19589993,31152,Brooklyn,312,158224,POINT (988762.6546344149 192883.52437407977),TILLARY STREET,Gold Street,Duffield Street,WB,2019-10-20 13:15:00

In [59]:
traffic_volume['date_time'].dt.year.value_counts().sort_index()

2009    1012766
2010    1421397
2011    1238391
2012    2434583
2013    2829656
2014    3708367
2015    3232005
2016    3362243
2017    3013530
2018    2046443
2019    2365633
2020     442558
Name: date_time, dtype: int64

In [60]:
traffic_volume.head(25)

,RequestID,Boro,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction,date_time
0,20856,Queens,9,171896,POINT (1052296.600156678 199785.26932711253),94 AVENUE,207 Street,Francis Lewis Boulevard,WB,2015-06-23 23:30:00
1,21231,Staten Island,6,9896,POINT (942668.0589509147 171441.21296926),RICHMOND TERRACE,Wright Avenue,Emeric Court,WB,2015-09-14 04:15:00
2,29279,Bronx,85,77817,POINT (1016508.0034050211 235221.59092266942),HUNTS POINT AVENUE,Whittier Street,Randall Avenue,NB,2017-10-19 04:30:00
3,27019,Brooklyn,168,188023,POINT (992925.4316054962 184116.82855457635),FLATBUSH AVENUE,Brighton Line,Brighton Line,NB,2017-11-07 18:30:00
4,26734,Manhattan,355,137516,POINT (1004175.9505178436 247779.63624949602),WASHINGTON BRIDGE,Harlem River Shoreline,Harlem River Shoreline,EB,2017-11-03 22:00:00
5,26015,Bronx,11,86053,POINT (1021709.470909429 248612.86356908735),WALLACE AVENUE,Rhinelander Avenue,Bronxdale Avenue,NB,2017-06-17 01:45:00
6,2033,Manhattan,99,70683,POINT (1000954.8 243914.9),S/B AMSTERDAM AVE @ W 162 ST,ST NICHOLAS AV/W 162 ST,W 163 ST,SB,2009-09-01 18:30:00
7,23133,Queens,232,101101,POINT (1050277.3347521287 216784.58047417598),NORTHERN BOULEVARD,220 Place,220 Street,WB,2016-03-21 09:45:00
8,32417,Queens,18,147877,POINT (1044172.6626552071 200130.04842303603),MIDLAND PARKWAY,Dalny Road,Connector,SB,2020-11-14 02:15:00
9,26198,Bronx,2,85935,POINT (1021747.2311522859 242463.04655740186),THIERIOT AVENUE,Gleason Avenue,Pelham Line,NB,2017-06-22 04:30:00
10,26964,Bronx,20,79242,POINT (1017660.2127885447 242803.9905399169),BOYNTON AVENUE,East 173 Street,East 172 Street,SB,2017-11-03 17:30:00
11,18078,Bronx,33,94639,POINT (1032122.9718800801 249068.51324162906),BRUCKNER BOULEVARD,Buhre Avenue Pedestrian Overpass,Wilkinson Avenue,NB,2014-11-14 21:30:00
12,31147,Manhattan,727,137516,POINT (1004170.6634530823 247782.7882331651),WASHINGTON BRIDGE,Harlem River Shoreline,Harlem River Shoreline,EB,2019-10-31 08:00:00
13,24417,Bronx,89,81184,POINT (1013396.4572753101 261998.34916300813),VAN CORTLANDT AVENUE WEST,Major Deegan Expwy Et 11 Nb,Bailey Avenue,SB,2016-10-15 16:00:00
14,15812,Staten Island,6,6603,POINT (942131.9 143193.1),MILES AV,BARLOW AV,JUMEL ST,SB,2013-10-27 11:00:00
15,17293,Queens,332,67140,POINT (1000005.6 213716.1),21 STREET,41 AVENUE,CENSUS BOUNDARY,SB,2014-06-12 09:45:00
16,9609,Brooklyn,9,31228,POINT (998696.2 196096.1),LORIMER ST BET BOERUM ST & BROADWAY,BEND,BOERUM STREET,EB,2011-02-28 04:45:00
17,26966,Brooklyn,119,44206,POINT (1000992.6997506452 198762.68444602608),GRAND STREET,14 Street/canarsie Line,Olive Street,WB,2017-10-22 15:15:00
18,28834,Brooklyn,125,158333,POINT (989464.5070879902 187129.62787649105),4 AVENUE,Baltic Street,Butler Street,SB,2018-11-16 20:30:00
19,11783,Queens,20,66164,POINT (1002619 207409.3),GREENPOINT AV,BRADLEY AV,GALE AV,WB,2013-03-05 23:15:00
20,11462,Brooklyn,29,29364,POINT (995012.8 188021.7),PUTHAM AVE APPROACH TO GRAND AVE,GRAND AV,DOWNING ST,WB,2011-05-02 19:00:00
21,2677,Bronx,53,107180,POINT (1016098.6 259360.2),W/B E MOSHOLU PKWY (W LEG)@GR CONCOURSE,GRAND CONCOURSE,GRAND CONCOURSE,WB,2010-10-02 20:00:00
22,16627,Manhattan,55,37275,POINT (991736 229133.2),WEST END AV,W 96 ST,W 97 ST,SB,2014-02-25 23:15:00
23,10267,Manhattan,140,71360,POINT (1003632.1 248057.9),TRANS MANHATTAN EP NB ET 1 B,TRANS MANHATTAN EP SB EN WASH BR,BEND,NB,2012-08-16 06:45:00
24,19657,Queens,285,117626,POINT (1057903.810090606 220762.22849236036),NORTHERN BOULEVARD,Morgan Street,Glenwood Street,EB,2015-05-08 11:15:00