# Preliminary Analysis

### Data Cleaning Code
Code for cleaning and processing your data. Include a data dictionary for your transformed dataset.

- Data Dictionary for Air Quality
    - **indicator id:** id for each name
    - **name:** classify the sample in the air
    - **measure:** how the indicator is measured
    - **measure info:** information about the measure
    - **geo type name:** geography type, UHF stands for United Hospital Fund neighborhoods
    - **geo place name:** neighborhood name
    - **time period:** time frame
    - **start_date:** date started
    <br><br>
- Data Dictionary for Traffic Volume
    - **requestId:** unique id generated for each counts request
    - **boro:** lists which of the five diviions of New York City the location is within
    - **vol:** total sum of count collected within 15 minute increments
    - **segmentId:** The ID that idenifies each segment of a street
    - **wktgeom:** Geometry point of the location
    - **street:** street name of where traffic happened
    - **fromst:** start street of traffic
    - **tost:** end street where traffic volume was located
    - **direction:** text-based direction of traffic where the count took place
    - **date_time:** date at which it took place
    <br><br>
- Data Dictionary for 2020 mobility Dataset
    - **sub_region_2** which county it is
    - **date** date during recording
    - **retail_and_recreation_percent_change_from_baseline** mobility trends for places like restaurants, cafes, shopping centers, theme parks, museums, libraries, and movie theaters.
    - **grocery_and_pharmacy_percent_change_from_baseline** mobility trends for places like grocery markets, food warehouses, farmers markets, specialty food shops, drug stores, and pharmacies
    - **parks_percent_change_from_baseline** mobility trends for places like national parks, public beaches, marinas, dog parks, plazas, and public gardens
    - **transit_stations_percent_change_from_baseline** mobility trends for places like public transport hubs such as subway, bus, and train stations
    - **workplaces_percent_change_from_baseline** mobility trend for places of work
    - **residential_percent_change_from_baseline** mobility trends for places of residence
    
### Exploratory Analysis
Describe what work you have done so far and include the code. This may include descriptive statistics, graphs and charts, and preliminary models.

- We removed some columns that were irrelevant to what we want to predict as well as combine some columns that would fit together, such as the date and time.


### Challenges
Describe any challenges you've encountered so far. Let me know if there's anything you need help with!

- There were some challenges in figuring out what sort of data was necessary to include for our problem as it was targeted in New York City. 
- Figuring out the transformations to use on each dataset was also a challenge since there were many columns for each dataset and we had to find the ones that weren't relevant to our problem.
- There are some issues for the columns right now where there are some, such as segmentId in the Traffic Volume dataset where we are currently unsure if it's useful to keep or remove.
- Dealing with large datasets efficiently

### Future Work
Describe what work you are planning to complete for the final analysis.

- Future work includes using the cleaned data to use as inputs for models suited for classification such as Logisitc Regression and Linear Regression. 
- Make predictions using the models trained to obtain the accuracy scores to answer our questions
- Find the best model for accuracy as well as graph/chart the data to further understand it for future predictions.

### Contributions
Describe the contributions that each group member made.
- **Daniel Aguilar-Rodriguez**
    - Researched and acquired datasets
    - Helped present ideas during brainstorming session
    - Created jupyter notebook and helped clean datasets
    - Helped transform datasets and removed columns irrelevant to our work
    <br><br>
- **Jia Cong Lin**
    - Helped present ideas during brainstorming session
    - Helped define necessary columns for the mobility dataset
    - Assisted in determining columns to clean and define 
    <br><br>
- **Anvinh Truong**
    - Helped clean and define some columns for the datasets and dictionary
    - Helped present ideas during brainstorming session
    - Assisted in thinking of procedure to clean data columns

In [149]:
import pandas as pd
import numpy as np
import os
import requests
import datetime

In [3]:
def download_data(csv_name):
    url_dict = {'air_quality': 'https://data.cityofnewyork.us/api/views/c3uy-2p5r/rows.csv', 
                'mobility_global': 'https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv', 
                'traffic_volume': 'https://data.cityofnewyork.us/api/views/7ym2-wayt/rows.csv'}
    
    response = requests.get(url_dict[csv_name])
    path = f'datasets/{csv_name}.csv'
    with open(path, 'wb') as f:
        f.write(response.content)

In [4]:
def csv_exists(csv_name):
    path = f'datasets/{csv_name}.csv'
    file_exists = os.path.exists(path)
    return file_exists

In [5]:
def create_df(csv_name):
    if not csv_exists(csv_name):
        download_data(csv_name)
    path = f'datasets/{csv_name}.csv'
    df = pd.read_csv(path)
    return df

In [6]:
def mkdir_if_not_exist():
    directory = 'datasets'
    if not os.path.exists(f'{directory}/'):
        os.mkdir(directory)

In [7]:
def create_all_df(csv_names):
    mkdir_if_not_exist()
    df_list = []
    
    for csv_name in csv_names:
        print(f'Creating {csv_name} df')
        df = create_df(csv_name)
        df_list.append(df)
        
    return df_list

In [8]:
csv_names = ['air_quality', 'mobility_global', 'traffic_volume']

air_quality, mobility_global, traffic_volume = create_all_df(csv_names)

Creating air_quality df
Creating mobility_global df

C:\Users\danie\AppData\Local\Temp\ipykernel_22716\89086087.py:5: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

Creating traffic_volume df

## Air Quality Dataset Cleaning

In [9]:
print(air_quality.isnull().sum() / len(air_quality))

Unique ID         0.0
Indicator ID      0.0
Name              0.0
Measure           0.0
Measure Info      0.0
Geo Type Name     0.0
Geo Join ID       0.0
Geo Place Name    0.0
Time Period       0.0
Start_Date        0.0
Data Value        0.0
Message           1.0
dtype: float64

In [10]:
air_quality = air_quality.drop(['Message'], axis=1)
print(air_quality.isnull().sum() / len(air_quality))

Unique ID         0.0
Indicator ID      0.0
Name              0.0
Measure           0.0
Measure Info      0.0
Geo Type Name     0.0
Geo Join ID       0.0
Geo Place Name    0.0
Time Period       0.0
Start_Date        0.0
Data Value        0.0
dtype: float64

In [11]:
print(air_quality.nunique() / len(air_quality))

Unique ID         1.000000
Indicator ID      0.001365
Name              0.001179
Measure           0.000496
Measure Info      0.000496
Geo Type Name     0.000310
Geo Join ID       0.004466
Geo Place Name    0.007071
Time Period       0.002791
Start_Date        0.002233
Data Value        0.253443
dtype: float64

In [12]:
air_quality = air_quality.drop(['Unique ID'], axis=1)
print(air_quality.shape)
print(air_quality.nunique() / len(air_quality))

(16122, 10)
Indicator ID      0.001365
Name              0.001179
Measure           0.000496
Measure Info      0.000496
Geo Type Name     0.000310
Geo Join ID       0.004466
Geo Place Name    0.007071
Time Period       0.002791
Start_Date        0.002233
Data Value        0.253443
dtype: float64

In [13]:
air_quality = air_quality.drop(['Geo Join ID'], axis=1)
print(air_quality.shape)
print(air_quality.nunique() / len(air_quality))

(16122, 9)
Indicator ID      0.001365
Name              0.001179
Measure           0.000496
Measure Info      0.000496
Geo Type Name     0.000310
Geo Place Name    0.007071
Time Period       0.002791
Start_Date        0.002233
Data Value        0.253443
dtype: float64

In [14]:
air_quality.dtypes

Indicator ID        int64
Name               object
Measure            object
Measure Info       object
Geo Type Name      object
Geo Place Name     object
Time Period        object
Start_Date         object
Data Value        float64
dtype: object

In [15]:
air_quality.nunique()

Indicator ID        22
Name                19
Measure              8
Measure Info         8
Geo Type Name        5
Geo Place Name     114
Time Period         45
Start_Date          36
Data Value        4086
dtype: int64

In [16]:
air_quality['Time Period'].unique()

array(['Summer 2013', 'Summer 2014', 'Winter 2008-09', 'Summer 2009',
       'Summer 2010', 'Summer 2011', 'Summer 2012', 'Winter 2009-10',
       '2005-2007', '2013', '2005', '2009-2011', 'Winter 2010-11',
       'Winter 2011-12', 'Winter 2012-13', 'Annual Average 2009',
       'Annual Average 2010', 'Annual Average 2011',
       'Annual Average 2012', 'Annual Average 2013', '2015',
       'Winter 2013-14', 'Annual Average 2014', '2011', 'Winter 2014-15',
       '2016', 'Annual Average 2015', 'Summer 2015', 'Winter 2015-16',
       'Summer 2016', 'Annual Average 2016', 'Summer 2017', '2012-2014',
       'Summer 2018', 'Annual Average 2017', 'Summer 2019',
       'Winter 2016-17', 'Annual Average 2018', 'Winter 2017-18',
       '2015-2017', 'Summer 2020', 'Annual Average 2019',
       'Winter 2018-19', 'Annual Average 2020', 'Winter 2019-20'],
      dtype=object)

In [17]:
air_quality['Time Period'].value_counts() / len(air_quality)

2012-2014              0.029773
2005-2007              0.029773
2009-2011              0.029773
2015-2017              0.029773
Summer 2018            0.026237
Summer 2017            0.026237
Summer 2016            0.026237
Winter 2015-16         0.026237
Summer 2015            0.026237
Summer 2019            0.026237
Winter 2014-15         0.026237
Summer 2014            0.026237
Winter 2013-14         0.026237
Summer 2020            0.026237
Summer 2013            0.026237
Winter 2009-10         0.026237
Summer 2011            0.026237
Winter 2011-12         0.026237
Winter 2010-11         0.026237
Winter 2008-09         0.026237
Summer 2009            0.026237
Summer 2010            0.026237
Winter 2012-13         0.026237
Summer 2012            0.026237
2005                   0.025245
2016                   0.019911
Annual Average 2017    0.017492
Winter 2018-19         0.017492
Winter 2016-17         0.017492
Annual Average 2020    0.017492
Annual Average 2018    0.017492
Winter 2017-18         0.017492
Annual Average 2019    0.017492
Annual Average 2014    0.017492
Annual Average 2016    0.017492
Annual Average 2015    0.017492
Annual Average 2013    0.017492
Annual Average 2012    0.017492
Annual Average 2011    0.017492
Annual Average 2010    0.017492
Annual Average 2009    0.017492
Winter 2019-20         0.017492
2011                   0.013274
2015                   0.008932
2013                   0.008932
Name: Time Period, dtype: float64

In [18]:
air_quality['Start_Date'].unique()

array(['06/01/2013', '06/01/2014', '12/01/2008', '06/01/2009',
       '06/01/2010', '06/01/2011', '06/01/2012', '12/01/2009',
       '01/01/2005', '01/01/2013', '01/01/2009', '12/01/2010',
       '12/01/2011', '12/01/2012', '01/01/2015', '12/01/2013',
       '01/01/2011', '12/01/2014', '01/01/2016', '06/01/2015',
       '12/01/2015', '05/31/2016', '12/31/2015', '06/01/2017',
       '01/02/2012', '06/01/2018', '01/01/2017', '06/01/2019',
       '12/01/2016', '01/01/2018', '12/01/2017', '06/01/2020',
       '01/01/2019', '12/01/2018', '01/01/2020', '12/01/2019'],
      dtype=object)

In [19]:
air_quality['Start_Date'] = pd.to_datetime(air_quality['Start_Date'], infer_datetime_format=True)

In [20]:
air_quality['Start_Date'].min()

Timestamp('2005-01-01 00:00:00')

In [21]:
air_quality['Start_Date'].value_counts().sort_index() / len(air_quality)

2005-01-01    0.055018
2008-12-01    0.043729
2009-01-01    0.029773
2009-06-01    0.026237
2009-12-01    0.043729
2010-06-01    0.026237
2010-12-01    0.043729
2011-01-01    0.013274
2011-06-01    0.026237
2011-12-01    0.043729
2012-01-02    0.029773
2012-06-01    0.026237
2012-12-01    0.043729
2013-01-01    0.008932
2013-06-01    0.026237
2013-12-01    0.043729
2014-06-01    0.026237
2014-12-01    0.026237
2015-01-01    0.056197
2015-06-01    0.026237
2015-12-01    0.026237
2015-12-31    0.017492
2016-01-01    0.019911
2016-05-31    0.026237
2016-12-01    0.017492
2017-01-01    0.017492
2017-06-01    0.026237
2017-12-01    0.017492
2018-01-01    0.017492
2018-06-01    0.026237
2018-12-01    0.017492
2019-01-01    0.017492
2019-06-01    0.026237
2019-12-01    0.017492
2020-01-01    0.017492
2020-06-01    0.026237
Name: Start_Date, dtype: float64

In [57]:
air_quality.groupby('Start_Date')['Time Period'].value_counts()

Start_Date  Time Period
2005-01-01  2005-2007              480
            2005                   407
2008-12-01  Winter 2008-09         423
            Annual Average 2009    282
2009-01-01  2009-2011              480
2009-06-01  Summer 2009            423
2009-12-01  Winter 2009-10         423
            Annual Average 2010    282
2010-06-01  Summer 2010            423
2010-12-01  Winter 2010-11         423
            Annual Average 2011    282
2011-01-01  2011                   214
2011-06-01  Summer 2011            423
2011-12-01  Winter 2011-12         423
            Annual Average 2012    282
2012-01-02  2012-2014              480
2012-06-01  Summer 2012            423
2012-12-01  Winter 2012-13         423
            Annual Average 2013    282
2013-01-01  2013                   144
2013-06-01  Summer 2013            423
2013-12-01  Winter 2013-14         423
            Annual Average 2014    282
2014-06-01  Summer 2014            423
2014-12-01  Winter 2014-15         423
2015-01-01  2015-2017              480
            Annual Average 2015    282
            2015                   144
2015-06-01  Summer 2015            423
2015-12-01  Winter 2015-16         423
2015-12-31  Annual Average 2016    282
2016-01-01  2016                   321
2016-05-31  Summer 2016            423
2016-12-01  Winter 2016-17         282
2017-01-01  Annual Average 2017    282
2017-06-01  Summer 2017            423
2017-12-01  Winter 2017-18         282
2018-01-01  Annual Average 2018    282
2018-06-01  Summer 2018            423
2018-12-01  Winter 2018-19         282
2019-01-01  Annual Average 2019    282
2019-06-01  Summer 2019            423
2019-12-01  Winter 2019-20         282
2020-01-01  Annual Average 2020    282
2020-06-01  Summer 2020            423
Name: Time Period, dtype: int64

In [70]:
list(air_quality[air_quality['Time Period'].str.contains('Winter')]['Time Period'].unique())

['Winter 2008-09',
 'Winter 2009-10',
 'Winter 2010-11',
 'Winter 2011-12',
 'Winter 2012-13',
 'Winter 2013-14',
 'Winter 2014-15',
 'Winter 2015-16',
 'Winter 2016-17',
 'Winter 2017-18',
 'Winter 2018-19',
 'Winter 2019-20']

In [71]:
air_quality[air_quality['Time Period'].str.contains('Winter')].groupby('Time Period')['Start_Date'].value_counts()

Time Period     Start_Date
Winter 2008-09  2008-12-01    423
Winter 2009-10  2009-12-01    423
Winter 2010-11  2010-12-01    423
Winter 2011-12  2011-12-01    423
Winter 2012-13  2012-12-01    423
Winter 2013-14  2013-12-01    423
Winter 2014-15  2014-12-01    423
Winter 2015-16  2015-12-01    423
Winter 2016-17  2016-12-01    282
Winter 2017-18  2017-12-01    282
Winter 2018-19  2018-12-01    282
Winter 2019-20  2019-12-01    282
Name: Start_Date, dtype: int64

In [ ]:
air_quality[air_quality['Time Period'].str.contains(['Winter', 'Summer'])].groupby('Time Period')['Start_Date'].value_counts()

In [74]:
air_quality[air_quality['Time Period'].str.contains('Winter')]

,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
4,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Morris Park and Bronxdale (CD11),Winter 2008-09,2008-12-01,5.89
5,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Williamsbridge and Baychester (CD12),Winter 2008-09,2008-12-01,5.75
8,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Greenpoint and Williamsburg (CD1),Winter 2008-09,2008-12-01,4.33
9,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Fort Greene and Brooklyn Heights (CD2),Winter 2008-09,2008-12-01,4.41
10,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Bedford Stuyvesant (CD3),Winter 2008-09,2008-12-01,4.73
...,...,...,...,...,...,...,...,...,...
15969,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Queens Village (CD13),Winter 2019-20,2019-12-01,7.15
15972,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Rockaway and Broad Channel (CD14),Winter 2019-20,2019-12-01,6.12
15975,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,St. George and Stapleton (CD1),Winter 2019-20,2019-12-01,7.43
15978,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,South Beach and Willowbrook (CD2),Winter 2019-20,2019-12-01,6.89
15981,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Tottenville and Great Kills (CD3),Winter 2019-20,2019-12-01,5.95

In [75]:
test_dict = air_quality[air_quality['Time Period'].str.contains('Winter')].to_dict('records')

In [87]:
counter = 0
for row in test_dict:
    print(row['Time Period'])
    print(row['Start_Date'].year + 1)
    print(row['Start_Date'].month + 4)
    counter += 1
    if counter == 10:
        break

Winter 2008-09
2009
16
Winter 2008-09
2009
16
Winter 2008-09
2009
16
Winter 2008-09
2009
16
Winter 2008-09
2009
16
Winter 2008-09
2009
16
Winter 2008-09
2009
16
Winter 2008-09
2009
16
Winter 2008-09
2009
16
Winter 2008-09
2009
16

In [58]:
air_quality.sample(10)

,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
1710,383,Sulfur Dioxide (SO2),Mean,ppb,CD,Upper West Side (CD7),Winter 2011-12,2011-12-01,5.99
4159,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF34,Williamsburg - Bushwick,Annual Average 2010,2009-12-01,25.31
2399,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,Elmhurst and Corona (CD4),Summer 2013,2013-06-01,19.38
10070,386,Ozone (O3),Mean,ppb,CD,Woodside and Sunnyside (CD2),Summer 2015,2015-06-01,31.65
6474,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,UHF42,Stapleton - St. George,2015,2015-01-01,4.60
9991,386,Ozone (O3),Mean,ppb,UHF42,South Beach - Tottenville,Summer 2015,2015-06-01,34.07
7167,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF42,Central Harlem - Morningside Heights,Annual Average 2014,2013-12-01,9.73
14822,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF34,South Bronx,Summer 2019,2019-06-01,8.45
11710,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Borough,Brooklyn,Winter 2016-17,2016-12-01,7.94
10110,383,Sulfur Dioxide (SO2),Mean,ppb,UHF42,Central Harlem - Morningside Heights,Winter 2015-16,2015-12-01,0.35

In [99]:
air_quality[air_quality['Geo Type Name'].str.contains('Borough')]['Time Period'].unique()

array(['Summer 2013', 'Summer 2014', 'Summer 2009', 'Summer 2010',
       'Summer 2011', 'Summer 2012', '2013', '2005', '2005-2007',
       '2009-2011', 'Winter 2008-09', 'Winter 2009-10', 'Winter 2010-11',
       'Winter 2011-12', 'Winter 2012-13', 'Annual Average 2009',
       'Annual Average 2010', 'Annual Average 2011',
       'Annual Average 2012', 'Annual Average 2013', '2015',
       'Winter 2013-14', 'Annual Average 2014', '2011', '2016',
       'Annual Average 2015', 'Summer 2015', 'Winter 2014-15',
       'Winter 2015-16', 'Summer 2016', 'Annual Average 2016',
       '2012-2014', 'Summer 2017', 'Annual Average 2017',
       'Winter 2016-17', 'Annual Average 2018', 'Summer 2018',
       'Winter 2017-18', '2015-2017', 'Annual Average 2019',
       'Summer 2019', 'Winter 2018-19', 'Annual Average 2020',
       'Winter 2019-20', 'Summer 2020'], dtype=object)

In [97]:
air_quality[air_quality['Geo Type Name'].str.contains('Borough')].groupby('Name')['Geo Place Name'].value_counts()

Name                                                       Geo Place Name
Air Toxics Concentrations- Average Benzene Concentrations  Bronx             2
                                                           Brooklyn          2
                                                           Manhattan         2
                                                           Queens            2
                                                           Staten Island     2
                                                                            ..
Traffic Density- Annual Vehicle Miles Traveled for Trucks  Bronx             1
                                                           Brooklyn          1
                                                           Manhattan         1
                                                           Queens            1
                                                           Staten Island     1
Name: Geo Place Name, Length: 95, dtype: int64

In [60]:
list(air_quality['Name'].unique())

['Ozone (O3)',
 'Sulfur Dioxide (SO2)',
 'PM2.5-Attributable Deaths',
 'Boiler Emissions- Total SO2 Emissions',
 'Boiler Emissions- Total PM2.5 Emissions',
 'Boiler Emissions- Total NOx Emissions',
 'Air Toxics Concentrations- Average Benzene Concentrations',
 'Air Toxics Concentrations- Average Formaldehyde Concentrations',
 'PM2.5-Attributable Asthma Emergency Department Visits',
 'PM2.5-Attributable Respiratory Hospitalizations (Adults 20 Yrs and Older)',
 'PM2.5-Attributable Cardiovascular Hospitalizations (Adults 40 Yrs and Older)',
 'Traffic Density- Annual Vehicle Miles Traveled',
 'O3-Attributable Cardiac and Respiratory Deaths',
 'O3-Attributable Asthma Emergency Department Visits',
 'O3-Attributable Asthma Hospitalizations',
 'Traffic Density- Annual Vehicle Miles Traveled for Cars',
 'Traffic Density- Annual Vehicle Miles Traveled for Trucks',
 'Nitrogen Dioxide (NO2)',
 'Fine Particulate Matter (PM2.5)']

In [62]:
air_quality.groupby(['Name', 'Start_Date'])['Time Period'].value_counts()

Name                                                            Start_Date  Time Period
Air Toxics Concentrations- Average Benzene Concentrations       2005-01-01  2005            48
                                                                2011-01-01  2011           107
Air Toxics Concentrations- Average Formaldehyde Concentrations  2005-01-01  2005            48
                                                                2011-01-01  2011           107
Boiler Emissions- Total NOx Emissions                           2013-01-01  2013            48
                                                                                          ...
Traffic Density- Annual Vehicle Miles Traveled                  2016-01-01  2016           107
Traffic Density- Annual Vehicle Miles Traveled for Cars         2005-01-01  2005           107
                                                                2016-01-01  2016           107
Traffic Density- Annual Vehicle Miles Traveled for Trucks       2005-01-01  2005           102
                                                                2016-01-01  2016           107
Name: Time Period, Length: 136, dtype: int64

In [165]:
air_quality_boros = air_quality[air_quality['Geo Type Name'].str.contains('Borough')]
air_quality_boros = air_quality_boros.drop(['Geo Type Name'], axis=1)

In [166]:
air_quality_boros.sample(10)

,Indicator ID,Name,Measure,Measure Info,Geo Place Name,Time Period,Start_Date,Data Value
14594,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Staten Island,Winter 2018-19,2018-12-01,6.50
13728,648,PM2.5-Attributable Asthma Emergency Department...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Staten Island,2015-2017,2015-01-01,33.10
13725,648,PM2.5-Attributable Asthma Emergency Department...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Brooklyn,2015-2017,2015-01-01,62.50
6517,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,Bronx,2015,2015-01-01,39.50
8593,647,Air Toxics Concentrations- Average Formaldehyd...,Annual Average Concentration,Âµg/m3,Queens,2011,2011-01-01,2.10
6417,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Brooklyn,Winter 2012-13,2012-12-01,10.33
6318,383,Sulfur Dioxide (SO2),Mean,ppb,Manhattan,Winter 2012-13,2012-12-01,3.08
7,386,Ozone (O3),Mean,ppb,Brooklyn,Summer 2010,2010-06-01,33.83
13971,659,O3-Attributable Asthma Emergency Department Vi...,Estimated Annual Rate- 18 Yrs and Older,"per 100,000 adults",Manhattan,2015-2017,2015-01-01,45.00
15148,375,Nitrogen Dioxide (NO2),Mean,ppb,Queens,Summer 2020,2020-06-01,10.00

In [167]:
for time_period in air_quality_boros['Time Period'].sort_values().unique():
    print(time_period, 'length:', len(time_period))

2005 length: 4
2005-2007 length: 9
2009-2011 length: 9
2011 length: 4
2012-2014 length: 9
2013 length: 4
2015 length: 4
2015-2017 length: 9
2016 length: 4
Annual Average 2009 length: 19
Annual Average 2010 length: 19
Annual Average 2011 length: 19
Annual Average 2012 length: 19
Annual Average 2013 length: 19
Annual Average 2014 length: 19
Annual Average 2015 length: 19
Annual Average 2016 length: 19
Annual Average 2017 length: 19
Annual Average 2018 length: 19
Annual Average 2019 length: 19
Annual Average 2020 length: 19
Summer 2009 length: 11
Summer 2010 length: 11
Summer 2011 length: 11
Summer 2012 length: 11
Summer 2013 length: 11
Summer 2014 length: 11
Summer 2015 length: 11
Summer 2016 length: 11
Summer 2017 length: 11
Summer 2018 length: 11
Summer 2019 length: 11
Summer 2020 length: 11
Winter 2008-09 length: 14
Winter 2009-10 length: 14
Winter 2010-11 length: 14
Winter 2011-12 length: 14
Winter 2012-13 length: 14
Winter 2013-14 length: 14
Winter 2014-15 length: 14
Winter 2015-16 length: 14
Winter 2016-17 length: 14
Winter 2017-18 length: 14
Winter 2018-19 length: 14
Winter 2019-20 length: 14

In [168]:
air_quality.groupby('Time Period')['Start_Date'].value_counts()

Time Period          Start_Date
2005                 2005-01-01    15
2005-2007            2005-01-01    50
2009-2011            2009-01-01    50
2011                 2011-01-01    10
2012-2014            2012-01-02    50
2013                 2013-01-01    15
2015                 2015-01-01    15
2015-2017            2015-01-01    50
2016                 2016-01-01    15
Annual Average 2009  2008-12-01    10
Annual Average 2010  2009-12-01    10
Annual Average 2011  2010-12-01    10
Annual Average 2012  2011-12-01    10
Annual Average 2013  2012-12-01    10
Annual Average 2014  2013-12-01    10
Annual Average 2015  2015-01-01    10
Annual Average 2016  2015-12-31    10
Annual Average 2017  2017-01-01    10
Annual Average 2018  2018-01-01    10
Annual Average 2019  2019-01-01    10
Annual Average 2020  2020-01-01    10
Summer 2009          2009-06-01    15
Summer 2010          2010-06-01    15
Summer 2011          2011-06-01    15
Summer 2012          2012-06-01    15
Summer 2013          2013-06-01    15
Summer 2014          2014-06-01    15
Summer 2015          2015-06-01    15
Summer 2016          2016-05-31    15
Summer 2017          2017-06-01    15
Summer 2018          2018-06-01    15
Summer 2019          2019-06-01    15
Summer 2020          2020-06-01    15
Winter 2008-09       2008-12-01    15
Winter 2009-10       2009-12-01    15
Winter 2010-11       2010-12-01    15
Winter 2011-12       2011-12-01    15
Winter 2012-13       2012-12-01    15
Winter 2013-14       2013-12-01    15
Winter 2014-15       2014-12-01    15
Winter 2015-16       2015-12-01    15
Winter 2016-17       2016-12-01    10
Winter 2017-18       2017-12-01    10
Winter 2018-19       2018-12-01    10
Winter 2019-20       2019-12-01    10
Name: Start_Date, dtype: int64

In [169]:
def create_end_dates(air_quality_boros_dict):
    end_dates = []
    for row in air_quality_boros_dict:
        time_period_str_len = len(row['Time Period'])
        year = row['Start_Date'].year
        if time_period_str_len == 4:
            date = datetime.date(year, 12, 31)
        elif time_period_str_len == 9:
            date = datetime.date(year + 2, 12, 31)
        elif time_period_str_len == 11:
            date = datetime.date(year, 8, 31)
        elif time_period_str_len == 14:
            date = datetime.date(year + 1, 2, 28)
        elif time_period_str_len == 19:
            year = int(row['Time Period'][-4:])
            date = datetime.date(year, 12, 31)
        end_dates.append(date)
    return end_dates

In [170]:
air_quality_boros['end_date'] = create_end_dates(air_quality_boros.to_dict('records'))

In [171]:
air_quality_boros.sample(10)

,Indicator ID,Name,Measure,Measure Info,Geo Place Name,Time Period,Start_Date,Data Value,end_date
303,647,Air Toxics Concentrations- Average Formaldehyd...,Annual Average Concentration,Âµg/m3,Manhattan,2005,2005-01-01,4.30,2005-12-31
13827,650,PM2.5-Attributable Respiratory Hospitalization...,Estimated Annual Rate,"per 100,000 adults",Staten Island,2015-2017,2015-01-01,15.00,2017-12-31
795,657,PM2.5-Attributable Asthma Emergency Department...,Estimated Annual Rate- 18 Yrs and Older,"per 100,000 adults",Bronx,2009-2011,2009-01-01,67.00,2011-12-31
409,650,PM2.5-Attributable Respiratory Hospitalization...,Estimated Annual Rate,"per 100,000 adults",Staten Island,2005-2007,2005-01-01,17.50,2007-12-31
12265,375,Nitrogen Dioxide (NO2),Mean,ppb,Bronx,Winter 2016-17,2016-12-01,26.37,2017-02-28
15848,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Brooklyn,Winter 2019-20,2019-12-01,7.62,2020-02-28
6406,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Bronx,Winter 2010-11,2010-12-01,13.85,2011-02-28
13724,648,PM2.5-Attributable Asthma Emergency Department...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Bronx,2015-2017,2015-01-01,146.90,2017-12-31
14166,375,Nitrogen Dioxide (NO2),Mean,ppb,Brooklyn,Summer 2019,2019-06-01,13.40,2019-08-31
359,648,PM2.5-Attributable Asthma Emergency Department...,Estimated Annual Rate- Children 0 to 17 Yrs Old,"per 100,000 children",Queens,2005-2007,2005-01-01,80.80,2007-12-31

In [173]:
air_quality_boros['Indicator ID'].nunique()

22

In [186]:
air_quality_boros.groupby(['Name', 'Measure'])['Indicator ID'].value_counts()

Name                                                                          Measure                                          Indicator ID
Air Toxics Concentrations- Average Benzene Concentrations                     Annual Average Concentration                     646              10
Air Toxics Concentrations- Average Formaldehyde Concentrations                Annual Average Concentration                     647              10
Boiler Emissions- Total NOx Emissions                                         Number per km2                                   642              10
Boiler Emissions- Total PM2.5 Emissions                                       Number per km2                                   641              10
Boiler Emissions- Total SO2 Emissions                                         Number per km2                                   640              10
Fine Particulate Matter (PM2.5)                                               Mean                                             365             180
Nitrogen Dioxide (NO2)                                                        Mean                                             375             180
O3-Attributable Asthma Emergency Department Visits                            Estimated Annual Rate- 18 Yrs and Older          659              20
                                                                              Estimated Annual Rate- Children 0 to 17 Yrs Old  653              20
O3-Attributable Asthma Hospitalizations                                       Estimated Annual Rate- 18 Yrs and Older          661              20
                                                                              Estimated Annual Rate- Children 0 to 17 Yrs Old  655              20
O3-Attributable Cardiac and Respiratory Deaths                                Estimated Annual Rate                            652              20
Ozone (O3)                                                                    Mean                                             386              60
PM2.5-Attributable Asthma Emergency Department Visits                         Estimated Annual Rate- 18 Yrs and Older          657              20
                                                                              Estimated Annual Rate- Children 0 to 17 Yrs Old  648              20
PM2.5-Attributable Cardiovascular Hospitalizations (Adults 40 Yrs and Older)  Estimated Annual Rate                            651              20
PM2.5-Attributable Deaths                                                     Estimated Annual Rate - Adults 30 Yrs and Older  639              20
PM2.5-Attributable Respiratory Hospitalizations (Adults 20 Yrs and Older)     Estimated Annual Rate                            650              20
Sulfur Dioxide (SO2)                                                          Mean                                             383              40
Traffic Density- Annual Vehicle Miles Traveled                                million miles                                    643               5
Traffic Density- Annual Vehicle Miles Traveled for Cars                       million miles                                    644              10
Traffic Density- Annual Vehicle Miles Traveled for Trucks                     million miles                                    645               5
Name: Indicator ID, dtype: int64

In [187]:
air_quality_boros = air_quality_boros.drop(['Indicator ID'], axis=1)

In [189]:
air_quality_boros.sample(10)

,Name,Measure,Measure Info,Geo Place Name,Time Period,Start_Date,Data Value,end_date
10231,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Brooklyn,Summer 2016,2016-05-31,8.32,2016-08-31
14174,Nitrogen Dioxide (NO2),Mean,ppb,Staten Island,Annual Average 2019,2019-01-01,11.92,2019-12-31
12698,Nitrogen Dioxide (NO2),Mean,ppb,Queens,Winter 2017-18,2017-12-01,23.47,2018-02-28
1138,O3-Attributable Asthma Emergency Department Vi...,Estimated Annual Rate- 18 Yrs and Older,"per 100,000 adults",Staten Island,2009-2011,2009-01-01,37.90,2011-12-31
11266,O3-Attributable Asthma Emergency Department Vi...,Estimated Annual Rate- 18 Yrs and Older,"per 100,000 adults",Brooklyn,2012-2014,2012-01-02,58.80,2014-12-31
13969,O3-Attributable Asthma Emergency Department Vi...,Estimated Annual Rate- 18 Yrs and Older,"per 100,000 adults",Bronx,2015-2017,2015-01-01,87.60,2017-12-31
4463,Ozone (O3),Mean,ppb,Staten Island,Summer 2010,2010-06-01,35.17,2010-08-31
455,PM2.5-Attributable Cardiovascular Hospitalizat...,Estimated Annual Rate,"per 100,000 adults",Brooklyn,2005-2007,2005-01-01,29.30,2007-12-31
6351,Nitrogen Dioxide (NO2),Mean,ppb,Bronx,Summer 2010,2010-06-01,19.42,2010-08-31
12273,Nitrogen Dioxide (NO2),Mean,ppb,Queens,Annual Average 2017,2017-01-01,17.85,2017-12-31

## Traffic Volume Dataset Cleaning

In [22]:
traffic_volume.sample(10)

,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
23540214,21509,Manhattan,2015,9,13,15,0,286,173145,POINT (1000962.6323899861 238710.6473586408),WEST 145 STREET,Frederick Douglass Boulevard,Adam C Powell Boulevard,EB
12955940,8258,Brooklyn,2012,6,17,20,45,80,20456,POINT (989748.8 160796.2),AV P,W 7 ST,W 6 ST,EB
5736910,23860,Manhattan,2016,10,14,14,45,460,226093,POINT (1002428.6531175337 239103.10418256372),HARLEM RIVER DRIVE,Dead End,Dead end,NB
10755844,2757,Brooklyn,2010,9,5,20,45,72,29457,POINT (995596.7 187694.6),E/B FULTON ST @ CLASSON AVE,IRVING PL,CLASSON AV,EB
15607464,30203,Queens,2019,5,12,23,30,44,67615,POINT (1004669.7245309362 211008.01246479413),43 AVENUE,38 Street,39 Street,EB
26069606,31026,Manhattan,2019,10,8,21,45,208,31764,POINT (982335.1815796944 200221.35856655534),CHURCH STREET,8 Avenue Line,8 Avenue Line,NB
14296851,3178,Staten Island,2009,2,10,15,0,67,118289,POINT (930454.3 141495.1),N/B ARDEN AVE @ HAMPTON GREEN,HAMPTON GRN,HAMPTON GRN,NB
25659597,19291,Bronx,2015,1,9,12,0,14,72043,POINT (1007322.7340312926 247082.9636244356),WEST MT EDEN AVENUE,Dead End,Macombs Road,EB
16485541,21149,Queens,2016,1,18,2,30,9,48785,POINT (1011579.3 198958.1),METROPOLITAN AV,61 ST,FRESH POND RD,EB
19919978,26524,Manhattan,2017,10,15,2,0,72,32785,POINT (986579.3569956439 206784.04960472492),EAST 13 STREET,Broadway,University Place,WB

In [23]:
traffic_volume.shape

(27190511, 14)

In [24]:
print(traffic_volume.isnull().sum() / len(traffic_volume))

RequestID    0.000000
Boro         0.000000
Yr           0.000000
M            0.000000
D            0.000000
HH           0.000000
MM           0.000000
Vol          0.000000
SegmentID    0.000000
WktGeom      0.000000
street       0.000000
fromSt       0.000000
toSt         0.000074
Direction    0.000000
dtype: float64

In [25]:
print(traffic_volume.nunique() / len(traffic_volume))

RequestID    2.607527e-04
Boro         1.838877e-07
Yr           5.884406e-07
M            4.413304e-07
D            1.140104e-06
HH           8.826609e-07
MM           1.471101e-07
Vol          1.476986e-04
SegmentID    5.499345e-04
WktGeom      7.525787e-04
street       2.482484e-04
fromSt       2.361486e-04
toSt         2.175391e-04
Direction    2.206652e-07
dtype: float64

In [26]:
traffic_volume.nunique()

RequestID     7090
Boro             5
Yr              16
M               12
D               31
HH              24
MM               4
Vol           4016
SegmentID    14953
WktGeom      20463
street        6750
fromSt        6421
toSt          5915
Direction        6
dtype: int64

In [27]:
traffic_volume.dtypes

RequestID     int64
Boro         object
Yr            int64
M             int64
D             int64
HH            int64
MM            int64
Vol           int64
SegmentID     int64
WktGeom      object
street       object
fromSt       object
toSt         object
Direction    object
dtype: object

In [28]:
traffic_volume.Yr.min()

2000

In [29]:
traffic_volume = traffic_volume[traffic_volume['Yr'] >= 2005]

In [30]:
traffic_volume.shape

(27188607, 14)

In [31]:
traffic_volume['Yr'].value_counts().sort_index()

2006        664
2007      11780
2008      68591
2009    1012766
2010    1421397
2011    1238391
2012    2434583
2013    2829656
2014    3708367
2015    3232005
2016    3362243
2017    3013530
2018    2046443
2019    2365633
2020     442558
Name: Yr, dtype: int64

In [32]:
traffic_volume = traffic_volume[traffic_volume['Yr'] > 2008]

In [33]:
traffic_volume.shape

(27107572, 14)

In [34]:
traffic_volume['date_time'] = pd.to_datetime(dict(year=traffic_volume.Yr, \
                                                  month=traffic_volume.M, \
                                                  day=traffic_volume.D, \
                                                  hour=traffic_volume.HH, \
                                                  minute=traffic_volume.MM))

In [35]:
traffic_volume = traffic_volume.drop(['Yr', 'M', 'D', 'HH', 'MM'], axis=1)

In [36]:
traffic_volume.sample(10)

,RequestID,Boro,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction,date_time
6701379,2912,Manhattan,0,36517,POINT (995598.2 216021.7),S/B YORK AVE @ E 60 ST,E 60 STREET PEDESTRIAN OPAS,E 61 ST,SB,2010-10-23 14:45:00
10831785,18054,Queens,43,91529,POINT (1035178.8205364442 216248.02033585456),SANFORD AVENUE,147 Street,149 Street,WB,2014-10-27 22:15:00
8727079,27654,Brooklyn,3,9002395,POINT (1010674.4964376753 180900.0775416037),LIVONIA AVENUE,Christopher Avenue,New Lots Line,WB,2018-03-07 04:00:00
8389505,17044,Queens,60,144835,POINT (1037513.2 206352.3),161 ST,162 ST,JEWEL AV,NB,2014-05-02 17:00:00
24592008,1399,Bronx,7,79753,POINT (1011263.2 251973.2),W/B E 183 ST @ WALTON AVE,MORRIS AV,WALTON AV,WB,2010-01-28 04:45:00
27036212,20989,Queens,85,156219,POINT (1007830.7988432262 209947.54275050544),QUEENS BOULEVARD,50 Street,51 Street,WB,2015-07-17 09:00:00
13128080,25356,Brooklyn,44,16784,POINT (975211.4294829911 166552.01058799194),86 STREET,Ridge Boulevard,3 Avenue,EB,2017-03-08 10:45:00
2530068,29228,Brooklyn,53,42851,POINT (1009467.2907570157 173660.78003449098),FARRAGUT ROAD,East 92 Street,Remsen Avenue,WB,2018-10-15 07:00:00
22846397,31033,Brooklyn,6,18653,POINT (983422.5451114378 159341.44922525663),BENSON AVENUE,Bay 20 Street,19 Avenue,WB,2019-10-13 04:30:00
9595996,25935,Brooklyn,188,148081,POINT (986965.765232712 190491.94586772073),BOERUM PLACE,Dead end,State Street,NB,2016-09-14 14:30:00

In [37]:
traffic_volume['date_time'].dt.year.value_counts().sort_index()

2009    1012766
2010    1421397
2011    1238391
2012    2434583
2013    2829656
2014    3708367
2015    3232005
2016    3362243
2017    3013530
2018    2046443
2019    2365633
2020     442558
Name: date_time, dtype: int64

In [78]:
traffic_volume.sort_values(["date_time"], 
                    axis=0,
                    ascending=[False], 
                    inplace=True);
traffic_volume.head(15)

,RequestID,Boro,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction,date_time
25543663,32417,Queens,20,67665,POINT (1004228.4823799994 215767.68782613552),31 STREET,34 Avenue,35 Avenue,SB,2020-11-22 23:45:00
24781248,32417,Queens,22,177488,POINT (1022794.9789320289 215146.05492113496),108 STREET,Northern Boulevard,34 Avenue,NB,2020-11-22 23:45:00
9972440,32417,Queens,1,131907,POINT (1042495.8834560046 212986.93323523246),47 AVENUE,Alley,190 Street,WB,2020-11-22 23:45:00
2279268,32417,Queens,53,55640,POINT (1038664.0129101734 188350.79377811836),LINDEN BOULEVARD,139 Street,140 Street,WB,2020-11-22 23:45:00
14306032,32417,Queens,32,115821,POINT (1036357.9224452496 193425.44468029455),94 AVENUE,Airtrain-jamaica Station Line,138 Place,EB,2020-11-22 23:45:00
18044830,32417,Queens,10,62211,POINT (1055110.7895059353 161626.61419838638),CENTRAL AVENUE,Dead End,Virginia Street,EB,2020-11-22 23:45:00
8251492,32417,Queens,23,155775,POINT (1044230.5989241999 200163.1252008375),MIDLAND PARKWAY,Dalny Road,Connector,NB,2020-11-22 23:45:00
11435566,32417,Queens,8,67969,POINT (1007754.14156415 213008.60050117943),48 STREET,Dead End,37 Avenue,NB,2020-11-22 23:45:00
17928508,32417,Queens,5,81722,POINT (1021979.4717062043 206288.65452608795),JUNCTION BOULEVARD,Horace Harding Expressway Sr S,62 Drive,NB,2020-11-22 23:45:00
16049798,32417,Queens,13,91191,POINT (1031077.526447149 216660.58071329023),MAIN STREET,37 Avenue,38 Avenue,SB,2020-11-22 23:45:00
26405943,32417,Queens,20,177488,POINT (1022794.9789320289 215146.05492113496),108 STREET,Northern Boulevard,34 Avenue,SB,2020-11-22 23:45:00
20945520,32417,Queens,16,156450,POINT (1038369.531578138 207474.50250837323),164 STREET,65 Avenue,67 Avenue,NB,2020-11-22 23:45:00
11933851,32417,Queens,31,115821,POINT (1036357.9224452496 193425.44468029455),94 AVENUE,Airtrain-jamaica Station Line,138 Place,WB,2020-11-22 23:45:00
21391589,32417,Queens,46,55640,POINT (1038664.0129101734 188350.79377811836),LINDEN BOULEVARD,139 Street,140 Street,EB,2020-11-22 23:45:00
20049416,32417,Queens,16,150039,POINT (1038323.0866622877 207467.784948278),164 STREET,65 Avenue,67 Avenue,SB,2020-11-22 23:45:00

## Mobility dataset cleaning

In [38]:
mobility_global.head(10).transpose()

,0,1,2,3,4,5,6,7,8,9
country_region_code,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
country_region,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates
sub_region_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sub_region_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
metro_area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
iso_3166_2_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
census_fips_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
place_id,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM,ChIJvRKrsd9IXj4RpwoIwFYv0zM
date,2020-02-15,2020-02-16,2020-02-17,2020-02-18,2020-02-19,2020-02-20,2020-02-21,2020-02-22,2020-02-23,2020-02-24
retail_and_recreation_percent_change_from_baseline,0.0,1.0,-1.0,-2.0,-2.0,-2.0,-3.0,-2.0,-1.0,-3.0
grocery_and_pharmacy_percent_change_from_baseline,4.0,4.0,1.0,1.0,0.0,1.0,2.0,2.0,3.0,0.0
parks_percent_change_from_baseline,5.0,4.0,5.0,5.0,4.0,6.0,6.0,4.0,3.0,5.0
transit_stations_percent_change_from_baseline,0.0,1.0,1.0,0.0,-1.0,1.0,0.0,-2.0,-1.0,-1.0
workplaces_percent_change_from_baseline,2.0,2.0,2.0,2.0,2.0,1.0,-1.0,3.0,4.0,3.0
residential_percent_change_from_baseline,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [39]:
mobility_global.shape

(11730025, 15)

In [40]:
mobility_nyc = mobility_global[mobility_global['country_region_code'].eq('US') & 
                               mobility_global['sub_region_1'].eq('New York') & 
                               mobility_global['sub_region_2'].str.contains('Bronx|Kings|New York|Queens|Richmond')]

In [41]:
mobility_nyc.sample(10).transpose()

,10551962,10578064,10577374,10587388,10570533,10589585,10571107,10577515,10587893,10570642
country_region_code,US,US,US,US,US,US,US,US,US,US
country_region,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
sub_region_1,New York,New York,New York,New York,New York,New York,New York,New York,New York,New York
sub_region_2,Bronx County,New York County,New York County,Queens County,Kings County,Richmond County,Kings County,New York County,Queens County,Kings County
metro_area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
iso_3166_2_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
census_fips_code,36005.0,36061.0,36061.0,36081.0,36047.0,36085.0,36047.0,36061.0,36081.0,36047.0
place_id,ChIJBUEf6ovgwokRwlazSIxIpsk,ChIJOwE7_GTtwokRFq0uOwLSE9g,ChIJOwE7_GTtwokRFq0uOwLSE9g,ChIJgav5pFbxwokRno6Tc5x2GL8,ChIJOwE7_GTtwokRs75rhW4_I6M,ChIJOwE7_GTtwokR1V_vES61lRI,ChIJOwE7_GTtwokRs75rhW4_I6M,ChIJOwE7_GTtwokRFq0uOwLSE9g,ChIJgav5pFbxwokRno6Tc5x2GL8,ChIJOwE7_GTtwokRs75rhW4_I6M
date,2022-06-02,2022-04-01,2020-05-11,2021-02-24,2020-03-06,2021-10-31,2021-10-01,2020-09-29,2022-07-14,2020-06-23
retail_and_recreation_percent_change_from_baseline,-24.0,-42.0,-82.0,-26.0,-3.0,-11.0,-16.0,-61.0,-15.0,-28.0
grocery_and_pharmacy_percent_change_from_baseline,-14.0,-28.0,-49.0,-3.0,-1.0,0.0,-1.0,-30.0,-1.0,0.0
parks_percent_change_from_baseline,-32.0,-32.0,-65.0,9.0,-13.0,21.0,41.0,-45.0,72.0,89.0
transit_stations_percent_change_from_baseline,-29.0,-37.0,-77.0,-48.0,-2.0,-6.0,-25.0,-57.0,-21.0,-42.0
workplaces_percent_change_from_baseline,-27.0,-40.0,-73.0,-39.0,4.0,-9.0,-34.0,-59.0,-31.0,-51.0
residential_percent_change_from_baseline,4.0,10.0,29.0,14.0,2.0,1.0,6.0,19.0,6.0,16.0

In [42]:
mobility_nyc.shape

(4870, 15)

In [43]:
mobility_nyc.isnull().sum() / len(mobility_nyc)

country_region_code                                   0.000000
country_region                                        0.000000
sub_region_1                                          0.000000
sub_region_2                                          0.000000
metro_area                                            1.000000
iso_3166_2_code                                       1.000000
census_fips_code                                      0.000000
place_id                                              0.000000
date                                                  0.000000
retail_and_recreation_percent_change_from_baseline    0.000000
grocery_and_pharmacy_percent_change_from_baseline     0.000000
parks_percent_change_from_baseline                    0.001643
transit_stations_percent_change_from_baseline         0.000000
workplaces_percent_change_from_baseline               0.000000
residential_percent_change_from_baseline              0.000000
dtype: float64

In [44]:
mobility_nyc = mobility_nyc.drop(['metro_area', 'iso_3166_2_code'], axis=1)

In [45]:
mobility_nyc.isnull().sum()

country_region_code                                   0
country_region                                        0
sub_region_1                                          0
sub_region_2                                          0
census_fips_code                                      0
place_id                                              0
date                                                  0
retail_and_recreation_percent_change_from_baseline    0
grocery_and_pharmacy_percent_change_from_baseline     0
parks_percent_change_from_baseline                    8
transit_stations_percent_change_from_baseline         0
workplaces_percent_change_from_baseline               0
residential_percent_change_from_baseline              0
dtype: int64

In [46]:
mobility_nyc = mobility_nyc.drop(['country_region_code', 'country_region', 'sub_region_1'], axis=1)

In [47]:
mobility_nyc.sample(10)

,sub_region_2,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
10589754,Richmond County,36085.0,ChIJOwE7_GTtwokR1V_vES61lRI,2022-04-18,-18.0,-14.0,-32.0,-38.0,-41.0,9.0
10589930,Richmond County,36085.0,ChIJOwE7_GTtwokR1V_vES61lRI,2022-10-11,-15.0,-8.0,-16.0,-22.0,-28.0,4.0
10589243,Richmond County,36085.0,ChIJOwE7_GTtwokR1V_vES61lRI,2020-11-23,-21.0,-1.0,-30.0,-45.0,-39.0,14.0
10577831,New York County,36061.0,ChIJOwE7_GTtwokRFq0uOwLSE9g,2021-08-11,-43.0,-19.0,-7.0,-43.0,-54.0,13.0
10587786,Queens County,36081.0,ChIJgav5pFbxwokRno6Tc5x2GL8,2022-03-29,-24.0,-6.0,-9.0,-28.0,-21.0,7.0
10577593,New York County,36061.0,ChIJOwE7_GTtwokRFq0uOwLSE9g,2020-12-16,-70.0,-30.0,-55.0,-62.0,-61.0,23.0
10577290,New York County,36061.0,ChIJOwE7_GTtwokRFq0uOwLSE9g,2020-02-17,-5.0,-12.0,13.0,-25.0,-51.0,10.0
10587181,Queens County,36081.0,ChIJgav5pFbxwokRno6Tc5x2GL8,2020-08-01,-24.0,-2.0,235.0,-41.0,-23.0,4.0
10578086,New York County,36061.0,ChIJOwE7_GTtwokRFq0uOwLSE9g,2022-04-23,-32.0,-24.0,12.0,-22.0,-18.0,1.0
10570706,Kings County,36047.0,ChIJOwE7_GTtwokRs75rhW4_I6M,2020-08-26,-19.0,-5.0,80.0,-41.0,-48.0,13.0

In [48]:
mobility_nyc.groupby(['sub_region_2', 'census_fips_code'])['place_id'].nunique()

sub_region_2     census_fips_code
Bronx County     36005.0             1
Kings County     36047.0             1
New York County  36061.0             1
Queens County    36081.0             1
Richmond County  36085.0             1
Name: place_id, dtype: int64

In [49]:
mobility_nyc = mobility_nyc.drop(['census_fips_code', 'place_id'], axis=1)

In [50]:
mobility_nyc.sample(10).transpose()

                                                        10551568  \
sub_region_2                                        Bronx County
date                                                  2021-05-04
retail_and_recreation_percent_change_from_baseline         -12.0
grocery_and_pharmacy_percent_change_from_baseline           -1.0
parks_percent_change_from_baseline                         -17.0
transit_stations_percent_change_from_baseline              -29.0
workplaces_percent_change_from_baseline                    -36.0
residential_percent_change_from_baseline                     8.0

                                                        10570557  \
sub_region_2                                        Kings County
date                                                  2020-03-30
retail_and_recreation_percent_change_from_baseline         -59.0
grocery_and_pharmacy_percent_change_from_baseline          -26.0
parks_percent_change_from_baseline                         -34.0
transit_stations_percent_change_from_baseline              -64.0
workplaces_percent_change_from_baseline                    -66.0
residential_percent_change_from_baseline                    30.0

                                                           10589577  \
sub_region_2                                        Richmond County
date                                                     2021-10-23
retail_and_recreation_percent_change_from_baseline            -17.0
grocery_and_pharmacy_percent_change_from_baseline              -2.0
parks_percent_change_from_baseline                              2.0
transit_stations_percent_change_from_baseline                 -22.0
workplaces_percent_change_from_baseline                       -14.0
residential_percent_change_from_baseline                        1.0

                                                           10578159  \
sub_region_2                                        New York County
date                                                     2022-07-05
retail_and_recreation_percent_change_from_baseline            -44.0
grocery_and_pharmacy_percent_change_from_baseline             -28.0
parks_percent_change_from_baseline                             -4.0
transit_stations_percent_change_from_baseline                 -37.0
workplaces_percent_change_from_baseline                       -50.0
residential_percent_change_from_baseline                        9.0

                                                        10571191  \
sub_region_2                                        Kings County
date                                                  2021-12-24
retail_and_recreation_percent_change_from_baseline         -28.0
grocery_and_pharmacy_percent_change_from_baseline            9.0
parks_percent_change_from_baseline                         -20.0
transit_stations_percent_change_from_baseline              -50.0
workplaces_percent_change_from_baseline                    -64.0
residential_percent_change_from_baseline                    18.0

                                                           10589454  \
sub_region_2                                        Richmond County
date                                                     2021-06-22
retail_and_recreation_percent_change_from_baseline             -8.0
grocery_and_pharmacy_percent_change_from_baseline              -7.0
parks_percent_change_from_baseline                            -35.0
transit_stations_percent_change_from_baseline                 -36.0
workplaces_percent_change_from_baseline                       -36.0
residential_percent_change_from_baseline                       10.0

                                                           10577579  \
sub_region_2                                        New York County
date                                                     2020-12-02
retail_and_recreation_percent_change_from_baseline            -63.0
grocery_and_pharmacy_percent_change_from_baseline             -30.0
parks_percent_change_from_baseline                            -49.0
transit_stations_percent_change_from_baseline                 -59.0
workplaces_percent_change_from_baseline                       -57.0
residential_percent_change_from_baseline                       20.0

                                                           10577383  \
sub_region_2                                        New York County
date                                                     2020-05-20
retail_and_recreation_percent_change_from_baseline            -79.0
grocery_and_pharmacy_percent_change_from_baseline             -38.0
parks_percent_change_from_baseline                            -43.0
transit_stations_percent_change_from_baseline                 -74.0
workplaces_percent_change_from_baseline                       -71.0
residential_percent_change_from_baseline                       27.0

                                                         10587613  \
sub_region_2                                        Queens County
date                                                   2021-10-07
retail_and_recreation_percent_change_from_baseline           -8.0
grocery_and_pharmacy_percent_change_from_baseline             9.0
parks_percent_change_from_baseline                           67.0
transit_stations_percent_change_from_baseline               -24.0
workplaces_percent_change_from_baseline                     -26.0
residential_percent_change_from_baseline                      6.0

                                                        10570776
sub_region_2                                        Kings County
date                                                  2020-11-04
retail_and_recreation_percent_change_from_baseline         -29.0
grocery_and_pharmacy_percent_change_from_baseline           -8.0
parks_percent_change_from_baseline                          18.0
transit_stations_percent_change_from_baseline              -43.0
workplaces_percent_change_from_baseline                    -42.0
residential_percent_change_from_baseline                    15.0

In [51]:
mobility_nyc.shape

(4870, 8)

In [52]:
mobility_nyc.dtypes

sub_region_2                                           object
date                                                   object
retail_and_recreation_percent_change_from_baseline    float64
grocery_and_pharmacy_percent_change_from_baseline     float64
parks_percent_change_from_baseline                    float64
transit_stations_percent_change_from_baseline         float64
workplaces_percent_change_from_baseline               float64
residential_percent_change_from_baseline              float64
dtype: object

In [71]:
mobility_nyc.sort_values(["date"], 
                    axis=0,
                    ascending=[True], 
                    inplace=True)

In [82]:
indexAge = mobility_nyc[ (mobility_nyc['date'] >= "2020-11-22") ].index
mobility_nyc.drop(indexAge , inplace=True)
mobility_nyc.tail(15)

,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
10551402,Bronx County,2020-11-19,-22.0,-4.0,-39.0,-34.0,-37.0,12.0
10577566,New York County,2020-11-19,-61.0,-24.0,-44.0,-56.0,-58.0,20.0
10587291,Queens County,2020-11-19,-28.0,-3.0,-3.0,-48.0,-40.0,16.0
10589239,Richmond County,2020-11-19,-23.0,-7.0,-25.0,-42.0,-35.0,14.0
10570791,Kings County,2020-11-19,-29.0,-3.0,-9.0,-44.0,-43.0,15.0
10551403,Bronx County,2020-11-20,-23.0,-3.0,-23.0,-32.0,-36.0,12.0
10577567,New York County,2020-11-20,-60.0,-26.0,-41.0,-55.0,-56.0,19.0
10589240,Richmond County,2020-11-20,-25.0,-3.0,-11.0,-42.0,-36.0,14.0
10587292,Queens County,2020-11-20,-27.0,-2.0,21.0,-45.0,-38.0,15.0
10570792,Kings County,2020-11-20,-30.0,-5.0,7.0,-41.0,-42.0,15.0
10589241,Richmond County,2020-11-21,-25.0,-1.0,11.0,-32.0,-8.0,6.0
10577568,New York County,2020-11-21,-55.0,-20.0,-18.0,-46.0,-20.0,7.0
10570793,Kings County,2020-11-21,-26.0,-3.0,51.0,-29.0,-16.0,5.0
10587293,Queens County,2020-11-21,-23.0,0.0,70.0,-38.0,-15.0,6.0
10551404,Bronx County,2020-11-21,-19.0,-4.0,3.0,-14.0,-17.0,5.0

In [84]:
mobility_nyc.shape

(1405, 8)

## Transformed Datasets

In [53]:
traffic_volume.head(15)

,RequestID,Boro,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction,date_time
0,20856,Queens,9,171896,POINT (1052296.600156678 199785.26932711253),94 AVENUE,207 Street,Francis Lewis Boulevard,WB,2015-06-23 23:30:00
1,21231,Staten Island,6,9896,POINT (942668.0589509147 171441.21296926),RICHMOND TERRACE,Wright Avenue,Emeric Court,WB,2015-09-14 04:15:00
2,29279,Bronx,85,77817,POINT (1016508.0034050211 235221.59092266942),HUNTS POINT AVENUE,Whittier Street,Randall Avenue,NB,2017-10-19 04:30:00
3,27019,Brooklyn,168,188023,POINT (992925.4316054962 184116.82855457635),FLATBUSH AVENUE,Brighton Line,Brighton Line,NB,2017-11-07 18:30:00
4,26734,Manhattan,355,137516,POINT (1004175.9505178436 247779.63624949602),WASHINGTON BRIDGE,Harlem River Shoreline,Harlem River Shoreline,EB,2017-11-03 22:00:00
5,26015,Bronx,11,86053,POINT (1021709.470909429 248612.86356908735),WALLACE AVENUE,Rhinelander Avenue,Bronxdale Avenue,NB,2017-06-17 01:45:00
6,2033,Manhattan,99,70683,POINT (1000954.8 243914.9),S/B AMSTERDAM AVE @ W 162 ST,ST NICHOLAS AV/W 162 ST,W 163 ST,SB,2009-09-01 18:30:00
7,23133,Queens,232,101101,POINT (1050277.3347521287 216784.58047417598),NORTHERN BOULEVARD,220 Place,220 Street,WB,2016-03-21 09:45:00
8,32417,Queens,18,147877,POINT (1044172.6626552071 200130.04842303603),MIDLAND PARKWAY,Dalny Road,Connector,SB,2020-11-14 02:15:00
9,26198,Bronx,2,85935,POINT (1021747.2311522859 242463.04655740186),THIERIOT AVENUE,Gleason Avenue,Pelham Line,NB,2017-06-22 04:30:00
10,26964,Bronx,20,79242,POINT (1017660.2127885447 242803.9905399169),BOYNTON AVENUE,East 173 Street,East 172 Street,SB,2017-11-03 17:30:00
11,18078,Bronx,33,94639,POINT (1032122.9718800801 249068.51324162906),BRUCKNER BOULEVARD,Buhre Avenue Pedestrian Overpass,Wilkinson Avenue,NB,2014-11-14 21:30:00
12,31147,Manhattan,727,137516,POINT (1004170.6634530823 247782.7882331651),WASHINGTON BRIDGE,Harlem River Shoreline,Harlem River Shoreline,EB,2019-10-31 08:00:00
13,24417,Bronx,89,81184,POINT (1013396.4572753101 261998.34916300813),VAN CORTLANDT AVENUE WEST,Major Deegan Expwy Et 11 Nb,Bailey Avenue,SB,2016-10-15 16:00:00
14,15812,Staten Island,6,6603,POINT (942131.9 143193.1),MILES AV,BARLOW AV,JUMEL ST,SB,2013-10-27 11:00:00

In [54]:
air_quality.sample(10)

,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
12289,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF42,Pelham - Throgs Neck,Winter 2016-17,2016-12-01,25.91
15925,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Brownsville (CD16),Summer 2020,2020-06-01,6.96
422,651,PM2.5-Attributable Cardiovascular Hospitalizat...,Estimated Annual Rate,"per 100,000 adults",UHF42,Borough Park,2005-2007,2005-01-01,26.80
7475,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,Flushing and Whitestone (CD7),Winter 2013-14,2013-12-01,11.51
4619,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF34,Northern SI,Summer 2013,2013-06-01,9.42
14242,375,Nitrogen Dioxide (NO2),Mean,ppb,UHF42,Chelsea - Clinton,Summer 2019,2019-06-01,24.86
14648,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,UHF42,Williamsburg - Bushwick,Winter 2018-19,2018-12-01,8.10
15150,375,Nitrogen Dioxide (NO2),Mean,ppb,Borough,Staten Island,Winter 2019-20,2019-12-01,17.87
11210,375,Nitrogen Dioxide (NO2),Mean,ppb,CD,South Beach and Willowbrook (CD2),Winter 2015-16,2015-12-01,17.81
13156,386,Ozone (O3),Mean,ppb,UHF42,South Beach - Tottenville,Summer 2018,2018-06-01,30.34

In [55]:
mobility_nyc.sample(10)

,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
10570955,Kings County,2021-05-02,-18.0,-12.0,104.0,-29.0,-20.0,2.0
10587863,Queens County,2022-06-14,-8.0,1.0,71.0,-17.0,-21.0,4.0
10587348,Queens County,2021-01-15,-39.0,-13.0,-20.0,-53.0,-42.0,17.0
10551832,Bronx County,2022-01-23,-38.0,-23.0,-30.0,-35.0,-22.0,5.0
10587302,Queens County,2020-11-30,-41.0,-26.0,-38.0,-54.0,-42.0,18.0
10551646,Bronx County,2021-07-21,-13.0,-9.0,-7.0,-29.0,-40.0,7.0
10589054,Richmond County,2020-05-18,-45.0,-16.0,-2.0,-58.0,-52.0,22.0
10577643,New York County,2021-02-04,-67.0,-26.0,-55.0,-59.0,-60.0,20.0
10577494,New York County,2020-09-08,-60.0,-24.0,-20.0,-56.0,-62.0,16.0
10551605,Bronx County,2021-06-10,-6.0,3.0,3.0,-26.0,-34.0,6.0